principals:
- name: admin-pod
  domains:
    - admin-pod
  kind: curl
- name: auth-driver
  domains:
    - auth-driver
  kind: json
- name: auth
  domains:
    - auth
  kind: json
- name: batch
  domains:
    - batch
  kind: json
- name: batch-driver
  domains:
    - batch-driver
  kind: json
- name: ci
  domains:
    - ci
  kind: json
- name: notebook-python
  domains:
    - notebook
    - workshop
  kind: json
- name: notebook
  domains:
    - notebook
    - workshop
  kind: nginx
- name: gateway
  domains:
    - gateway
  unmanged: True
  kind: nginx
- name: website
  domains:
    - website
    - www
  kind: json
- name: blog
  domains:
    - blog
  kind: nginx
- name: internal-gateway
  domains:
    - internal-gateway
  unmanged: True
  kind: nginx
- name: batch-tests
  domains:
    - batch-tests
  kind: json
- name: ci-tests
  domains:
    - ci-tests
  kind: json
- name: memory
  domains:
    - memory
  kind: json
- name: memory-tests
  domains:
    - memory-tests
  kind: json
- name: query
  domains:
    - query
  kind: json
- name: services-java-tests
  domains:
    - services-java-tests
  kind: json
- name: query-tests
  domains:
    - query-tests
  kind: json
- name: shuffler
  domains:
    - shuffler
  kind: json
- name: benchmark
  domains:
    - benchmark
  kind: json
- name: benchmark-tests
  domains:
    - benchmark-tests
  kind: json
- name: address
  domains:
    - address
  kind: json
- name: address-tests
  domains:
    - address-tests
  kind: json
- name: monitoring
  domains:
    - monitoring
  kind: json
- name: monitoring-tests
  domains:
    - monitoring-tests
  kind: json
- name: atgu
  domains:
    - atgu
  kind: json
- name: batch-user-code
  domains:
    - batch-user-code
  kind: json
- name: grafana
  domains:
    - grafana
  kind: nginx
- name: prometheus
  domains:
    - prometheus
  kind: nginx
- name: influxdb
  domains:
    - influxdb
  kind: nginx
