principals:
- name: admin-pod
  domains:
    - admin-pod
  kind: curl
- name: auth-driver
  domains:
    - auth-driver
  kind: json
- name: auth
  domains:
    - auth
  kind: json
- name: batch
  domains:
    - batch
  kind: json
- name: batch-driver
  domains:
    - batch-driver
  kind: json
- name: batch-driver-nginx
  domains:
    - batch-driver
  kind: nginx
- name: ci
  domains:
    - ci
  kind: json
- name: notebook-python
  domains:
    - notebook
    - workshop
  kind: json
- name: notebook
  domains:
    - notebook
    - workshop
  kind: nginx
- name: gateway
  domains:
    - gateway
  unmanged: True
  kind: nginx
- name: website
  domains:
    - website
    - www
  kind: json
- name: blog
  domains:
    - blog
  kind: nginx
- name: internal-gateway
  domains:
    - internal-gateway
  unmanged: True
  kind: nginx
- name: monitoring
  domains:
    - monitoring
  kind: json
- name: batch-user-code
  domains:
    - batch-user-code
  kind: json
- name: grafana
  domains:
    - grafana
  kind: nginx
- name: prometheus
  domains:
    - prometheus
  kind: nginx
