apiVersion: apps/v1
kind: Deployment
metadata:
  name: notebook-deployment
  labels:
    app: notebook
    hail.is/sha: "6d0743dcd8889bfefb2de5827405a7d92366fac4"
spec:
  selector:
    matchLabels:
      app: notebook
  replicas: 1
  template:
    metadata:
      labels:
        app: notebook
        hail.is/sha: "6d0743dcd8889bfefb2de5827405a7d92366fac4"
    spec:
      serviceAccountName: notebook
      containers:
      - name: notebook
        image: gcr.io/hail-vdc/notebook:e7821945b8188e3e693e7424bb7dbd538a89af7ea2e623de35afe955865c1f7b
        ports:
        - containerPort: 5000
        volumeMounts:
          - mountPath: /notebook-secrets
            readOnly: true
            name: notebook-secrets
      volumes:
        - name: notebook-secrets
          secret:
            secretName: notebook-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: notebook
  labels:
    app: notebook
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 5000
  selector:
    app: notebook
