html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: #444;
  line-height: 1.6;
  margin: auto;
  border-color: #ddd;
  background: inherit;
}

a:hover {
  color: #283870;
  text-decoration-color: #283870;
  text-decoration: underline;
}

*::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

*::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

a::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

a::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

p {
  margin: 1rem 0;
}

h1,h2,h3,h4,h5,h6 {
  color: #111;
  line-height: 125%;
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
  margin: 0px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
}

h5 {
  font-size: 1em;
  font-weight: 700;
}

h6 {
  font-size: 0.9em;
  font-weight: 700;
}

b {
  font-weight: 700;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: 700;
}

ul {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p:last-child {
  margin-bottom: 0;
}

ul ul {
  margin: 0 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

@keyframes in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#home {
  background: inherit;
}

#hero {
  width: 100%;
  height: calc(100vh - 50px);
  min-height: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 50px;
  background: inherit;
}

#hero.dark {
  background: #2a3a8c;
  color: #fff;
}

#hero.short {
  height: auto;
  min-height: 0px;
}

#all-hero-content {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

#hero-background {
  opacity: 0;
  height: calc(100% - 50px);
  position: absolute;
  width: 100%;
  left: 0px;
  transition: opacity 1000ms ease-in-out;
  z-index: 1;
}

#hero-button-container {
  display: flex;
  margin-top: 1.5625rem;
}

#hero-button-container a + a {
  margin-left: 15px;
}

.button {
  background-color: #fff;
  border: 2px solid #444;
  padding: 10px 20px;
  color: #444;
  text-decoration: none;
}

.button:hover {
  background-color: #283870;
  border-color: #283870;
  text-decoration: none;
  color: #ffff;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 75px 50px;
}

.about > .content {
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

#learn-more {
  align-self: flex-end;
  margin-top: 30px;
}

.about-content.columns {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.about-content.columns > section {
  justify-content: flex-start;
}

.about-content.columns p {
  align-self: flex-start;
}

#home .about section > *{
  margin: 20px auto
}

.about-content.columns > section:nth-child(2n) {
  margin: 0px 4rem;
}

.about-content p:first-child {
  margin-top: 0px;
}

.about-content p:last-child {
  margin-bottom: 0px;
}

.about.dark .about-content h4 {
  display: table;
  margin-top: 0px;
  position: float!important;
  padding-bottom: 5px;
  color: #fff;
}

nav a {
  font-weight: 400;
}

a {
  font-weight: 700;
  text-decoration: underline;
}

.about.dark {
  background-color: #283891;
  position: relative;
  color: #fff;
}

.about.dark a {
  color: #fff;
}

.about.dark a:hover {
  color: #fff;
  text-decoration-color: #fff;
  text-decoration: underline;
}

.about.dark a.button:hover {
  text-decoration: none;
}

.about.dark a.button {
  color: #444;
}

.about.dark a.button:hover {
  color: #fff;
}

.header-wrap {
  position: relative;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.header-wrap h1 {
  align-self: flex-start;
  font-weight: 500;
  margin: 0px;
}

.dark .header-wrap > * {
  color: #fff;
}

#logo-title {
  font-size: 4.25rem;
  color: #283891;
  animation: ease-in 0.25s in;
  animation-fill-mode: forwards;
  background: inherit;
  margin: 0;
  font-weight: 500;
  line-height: 1.1;
  padding-bottom: 1.875rem;
}

.dark #logo-title {
  color: #fff;
}

.logo-subtitle {
  background: inherit;
  font-size: 1rem;
  animation: ease-in 0.3s in;
  opacity: 0;
  animation-fill-mode: forwards;
}

#hero-content {
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: flex-start;
  padding: 50px 50px 50px 0px;
  max-width: calc(48rem + 100px);
}

#home #hero-content {
  box-shadow: 0px 0px 25px 20px rgba(255,255,255, 1);
  background: #fff;
}

#hero-content-right {
  background: white;
  padding: 50px 0px 50px 50px;
  z-index: 1;
  font-size: .875rem;
}

#hero-content-right pre {
  font-family: monospace!important;
  padding: 2rem;
  border-radius: 0px;
  box-shadow: 0px 2px 5px 0px rgba(68,68,68,.5);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  min-width: 515px;
  margin: 0px;
  background: inherit;
}


/* Modified for Hail*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Grouping content
  ========================================================================== */

a {
  background-color: transparent;
  color: inherit;
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */

b,
strong {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */

/**
  * Add the correct font size in all browsers.
  */

small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

/* Forms
    ========================================================================== */

/**
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
  */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input { /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

button,
select { /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
  * Remove the inner border and padding in Firefox.
  */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus styles unset by the previous rule.
  */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Correct the padding in Firefox.
  */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */

progress {
  vertical-align: baseline;
}

/**
  * Remove the default vertical scrollbar in IE 10+.
  */

textarea {
  overflow: auto;
}

/**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
  * Remove the inner padding in Chrome and Safari on macOS.
  */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
    ========================================================================== */

/*
  * Add the correct display in Edge, IE 10+, and Firefox.
  */

details {
  display: block;
}

/*
  * Add the correct display in all browsers.
  */

summary {
  display: list-item;
}

/* Misc
    ========================================================================== */

/**
  * Add the correct display in IE 10+.
  */

template {
  display: none;
}

/**
  * Add the correct display in IE 10.
  */

[hidden] {
  display: none;
}

/* more hail stuff */

@media only screen and (max-width: 950px) {
  .about-content.columns > section:nth-child(2n) {
    margin: 25px 0;
  }

  .about-content.columns {
    flex-direction: column;
  }

  #learn-more {
    align-self: center;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 87.5%;
  }
}

@media only screen and (max-width: 767px) {
  #hero, .about {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 680px) {
  html {
    font-size: 81.25%;
  }
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  body {
    font-size: 12pt;
  }

  #body {
    max-width: 100%;
  }

  a,  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="javascript:"]:after,  a[href^="#"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page :left {
      margin: 15mm 20mm 15mm 10mm;
  }

  @page :right {
      margin: 15mm 10mm 15mm 20mm;
  }

  p,  h2,  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,  h3 {
    page-break-after: avoid;
  }
}

code, samp, kbd {
  color: #000;
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  padding: .15625em .25em;  /* 5/32, 1/4 */
}

.sourceCode {
  max-width: 515px;
}

pre, code {
  background-color: inherit;
}

pre, blockquote {
  border: 1px solid;
  border-color: inherit;
  padding-right: 1em;
  page-break-inside: avoid;
}

code {
  white-space: pre-wrap;
  padding: 3px;
  border-radius: 4px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.rst-content div[class^='highlight'] {
  border: 0 !important; /* In Hail docs, clear out Sphinx RTD borders */
}

div.highlight pre {
  border-color: #ddd; /* in Hail docs, force border to be gray */
}

pre code {
  padding: 0;
}

.sourceCode {
  border-color: #ddd;
}

#hero-content-right pre {
  margin-bottom: 5px;
}

.about code[class*=language-], pre[class*=language-] {
  font-family: monospace;
}

/* help pages */
#gethelp section {
  max-width: 1000px;
}

#gethelp .about {
  padding-top: 50px;
}

#gethelp .about section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 25px 0px;
}

#gethelp .about section .button {
  margin-right: 25px;
  width: 160px;
  min-width: 160px;
}

#gethelp .about section:first-child {
  margin-top: 0px;
}

@media only screen and (max-width:480px) {
  #hero, .about {
    padding-left: 25px;
    padding-right: 25px;
  }

  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .header-wrap {
    margin-bottom: 25px;
  }

  #gethelp .about section {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      margin: 25px 0px;
  }

  #gethelp .about section .button {
      margin-bottom: 25px;
  }
}

/* /help */
@media only screen and (max-width: 1519px) {
  #hero-content-right {
    display: none;
  }

  #hero-content {
    padding-right: 0px;
    max-width: 48rem;
  }
}

@media only screen and (min-width: 1520px) {
  #all-hero-content {
    box-shadow: 0px 0px 100px 100px rgba(255,255,255, 1);
    background: inherit;
    z-index:1;
  }

  #all-hero-content, .about > .content {
    width: 1520px;
    max-width: 100%;
    margin: auto;
  }

  .about.wide, #hero-content.wide {
    max-width: 1520px;
    width: 1520px;
    margin: auto;
  }

  #home #all-hero-content, #home .about > .content {
    width: 100%;
    margin: auto;
  }

  #home .about.wide, #home #hero-content.wide {
    max-width: none;
    width: 100%;
    margin: auto;
  }

  #gethelp #all-hero-content, #gethelp .about > .content {
    width: 1000px;
  }

  #gethelp .about.wide, #gethelp #hero-content.wide {
    max-width: 1000px;
    width: 1000px;
    margin: auto;
  }
}

@media only screen and (min-width: 2048px) {
  #home #all-hero-content, #home .about > .content {
    width: 2048px;
    margin: auto;
  }

  #home .about.wide, #home #hero-content.wide {
    max-width: 2048px;
    width: 2048px;
    margin: auto;
  }
}


@media only screen and (max-width: 2048px) {
  #hero {
    justify-content: flex-start;
  }
}


/* tutorial.md */

section pre {
  min-width: 300px;
}

.about.staggered .el {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(50% - 50px);
  max-width: 800px;
  margin: 25px 0px;
}

.right .el + .el {
  justify-content: flex-end;
  align-items: flex-end;
}

.staggered .left pre + div, .staggered .right div + pre, .staggered .el + .el {
  margin-left: 25px;
}

.about.staggered section {
  justify-content: space-between;
  display: flex;
  width: 100%;
  align-items: flex-start;
  position: relative;
}

.about.staggered svg {
  width: 302px;
  margin: 50px auto;
  height: 101px;
  stroke-width: 1;
  stroke: #444;
  stroke-opacity: .2;
  animation: ease-in 750ms in;
}

.about.staggered svg path {
  transform: translate(-363px, -243px) scale(.75, .5);
  transform-origin: 707px 287px;
}

.about.staggered section:last {
  padding-bottom: 0px;
}

.about.staggered pre, #hero-content-right pre {
  font-family: monospace!important;
  padding: 2rem;
  border-radius: 0px;
  border-bottom: 0px;
  box-shadow: 0px 2px 5px 0px rgba(68,68,68,.5);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin: 0px;
  background: inherit;
  width: 100%;
  max-width: calc(600px + 2rem)
}

#hero-content-right pre {
  margin-bottom: 5px;
}

.about code[class*=language-], pre[class*=language-] {
  font-family: monospace;
}

.about.staggered pre * {
  font-size: .875rem;
}

@media only screen and (max-width: 960px) {
  .about.staggered section.left {
    flex-direction: column-reverse;
  }
  .about.staggered section {
    flex-direction: column;
  }

  .about.staggered .el {
    width: 100%;
  }

  .about.staggered pre {
    width: 100%;
    max-width: 100%;
    min-width: 0px;
  }
  .staggered .left pre + div, .staggered .right div + pre, .staggered .el + .el {
    margin-left: 0px;
  }
  .about.staggered section {
    padding-bottom: 5rem;
  }

  .about.staggered svg {
    display: none;
  }

  .staggered p {
    margin-bottom: 0px;
  }

  .staggered .el pre {
    margin-top: 25px;
  }

  .right .el + .el {
    align-items: flex-start;
  }
}

/* end tutorial */
