@import "variables/colors.scss";
@import "variables/margins.scss";
#theme-site {
  #header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    align-content: center;
    align-items: center;
    height: 50px;
    padding: 0 $margin;
    z-index: 999;
    background: $white;
    .link-button {
      margin: 0 $margin;
      cursor: pointer;
      display: block;
      &.home {
        padding: 15px 15px 15px 15px;
        margin-left: -15px;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
    .icon-button {
      cursor: pointer;
      cursor: hand;
      display: block;
      :focus {
        outline: none;
      }
    }
    #profile-divider {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    #profile-menu {
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15),
        0px 1px 1px 0px rgba(0, 0, 0, 0.15),
        0px 2px 1px -1px rgba(0, 0, 0, 0.15);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: $white;
      a {
        padding: $margin;
        cursor: pointer;
      }
    }
    #user-name {
      margin-right: $margin;
    }
  }
  &.dark {
    #header {
      background: $black;
      #profile-menu {
        box-shadow: none;
        border: 1px solid $white;
        background-color: $black;
      }
    }
  }
}
