<div id="header">
  <a class="home link-button" href="{{ base_path }}/">
    <b>/</b>
  </a>

  <a href="{{ base_path }}/notebook" class="home link-button">
    Notebook
  </a>

  <div id="profile-divider"></div>

  {% if userdata %}
  <a href="{{ base_path }}/user"
    ><b id="user-name">{{ userdata["namename"] }}</b></a
  >
  <form action="{{ auth_base_url }}/logout" method="POST">
    <button class="link-button" type="submit">
      Log out
    </button>
  </form>
  {% else %}
  <a class="link-button" href="{{ auth_base_url }}/login">
    Login
  </a>
  {% endif %}
</div>
