<div id="header">
  <a class="home link-button" href="/">
    <b>/</b>
  </a>

  <a href="/notebook" class="home link-button">
    Notebook
  </a>

  <div id="profile-divider"></div>

  {% if session['user'] %}
      <a class='link-button'  href="/user">
        <b>{{ session['user']['name'] }}</b>
      </a>
    <form action='/logout' method='POST'>
      <button class='link-button' type='submit'>
        Log out
      </button>
    </form>
  {% else %}
    <a class='link-button' href='/login'>
      Login
    </a>
  {% endif %}
</div>
