
<div class="nb">
    {% set ready = notebook.pod_status == 'Running'
                   and notebook.condition.status == 'True'
                   and notebook.condition.type == 'Ready'
    %}

    {% if ready %}
        <i
        class="material-icons ready-icon"
        >
        done
        </i>
    {% else %}
        <div class="spinner" ></div>
    {% endif %}
    <a target="_blank" class="nb-state-container" href={{ notebook['url'] }}>
        <b>{{notebook.name}}</b>
        <span class="small">
        Condition:

            {% if notebook.condition is not defined %}
                <b>Initializing</b>
            {% elif notebook.condition.status != "True" %}
                <b>{{"Waiting for " ~ notebook.condition.type}}</b>
            {% else %}
                <b>{{notebook.condition.type}}</b>
            {% endif %}
        </b>
        </span>
        <span class="small">
        Pod: <b>{{notebook.pod_status}}</b>
        </span>
        <span class="small">
        Pod Name: <b>{{notebook.pod_name}}</b>
        </span>
        <span class="small">Created on: {{notebook.creation_date}}</span>
    </a>
    <form action="{{ base_path }}/notebook/delete" method="POST">
        <button type="submit" class="material-icons nb-close">
            close
        </button>
    </form>
</div>
{% if not ready %}
    <script>
        let protocol = location.protocol.replace("http", "ws")
        let sock = new WebSocket(protocol + location.host + "{{ base_path }}/wait");
        sock.onmessage = function (event) {
            window.location.reload()
        }
    </script>
{% endif %}
