<!DOCTYPE html>
<html lang="en" {{ 'class=dark' if session['dark'] }}>
  <head>
    <title>Hail Notebooks</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/components/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/pages/notebook.css">
  </head>
  <body id='theme-site'>
    {% include 'header.html' %}
    <div id="main">
      <div id="notebook" class="centered">
        {% if notebooks|length == 0 %}
            {% include 'notebook-form.html' %}
        {% else %}
            {% include 'notebook-state.html' %}
        {% endif %}
      </div>
    </div>
  </body>
</html>
