{% extends "layout.html" %}
{% block title %}User{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/pages/user.css">
{% endblock %}
{% block content %}
    <div class='centered'>
        <div id='profile-header'>
            <img height="38" src={{user['picture']}} />
            <h3>{{user['name']}}</h3>
        </div>
        <div id='profile-data'>
            <h5>Google Data</h5>
            <p><b>Bucket Name: </b>{{user['bucket_name']}}</span></p>
            <p><b>Service Account: </b>{{user['gsa_email']}}</p>
        </div>
    </div>
{% endblock %}