{% extends "layout.html" %}
{% block title %}User{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/static/css/pages/user.css">
{% endblock %}
{% block content %}
    <div class='centered'>
        <div id='profile-header'>
<!--
            <img height="38" src={{ userdata['picture'] }} />
-->
            <h3>{{ userdata['username'] }}</h3>
        </div>
        <div id='profile-data'>
            <h5>Google Data</h5>
            <p>
                <b>Bucket: </b>
                <a href="https://console.cloud.google.com/storage/browser/{{ userdata['bucket_name'] }}" target='_blank'>
                    {{ userdata['bucket_name'] }}
                </a>
            </p>
            <p><b>Service Account: </b>{{ userdata['gsa_email'] }}</p>
        </div>
    </div>
{% endblock %}
