<html lang="en">
  <head>
    <title>CI2: Batch {{ batch_id }} Log</title>
  </head>
  <body>
    <h1>Batch {{ batch_id }} Logs</h1>
    {% for job in batch_status['jobs'] %}
    <h2>Job {{ job['id'] }}</h2>
    {% if 'input' in job['log'] %}
    <h3>Input</h3>
    {% if job['log']['input'] %}
    <pre>{{ job['log']['input'] }}</pre>
    {% else %}
    No output.
    {% endif %}
    {% endif %}
    
    {% if 'main' in job['log'] %}
    <h3>Main</h3>
    {% if job['log']['main'] %}
    <pre>{{ job['log']['main'] }}</pre>
    {% else %}
    No output.
    {% endif %}
    {% endif %}
    
    {% if 'output' in job['log'] %}
    <h3>Output</h3>
    {% if job['log']['output'] %}
    <pre>{{ job['log']['output'] }}</pre>
    {% else %}
    No output.
    {% endif %}
    {% endif %}
    {% endfor %}
  </body>
</html>
