<html lang="en">
  <head>
    <title>CI | Batch {{ batch['id'] }}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <p><a href="/">ci</a> : <a href="/batches">batches</a> : batch {{ batch['id'] }}</p>

    <h1>Batch {{ batch['id'] }}</h1>
    {% if 'attributes' in batch %}
    {% for name, value in batch['attributes'].items() %}
    <p>{{ name }}: {{ value }}</p>
    {% endfor %}
    {% endif %}
    <h2>Jobs</h2>
    <table>
      <thead>
        <tr>
          <th align="right">id</th>
          <th align="left">name</th>
          <th align="left">state</th>
          <th align="right">exit_code</th>
          <th align="right">duration</th>
          <th align="left">log</th>
        </tr>
      </thead>
      <tbody>
	{% for job in batch['jobs'] %}
        <tr>
          <td align="right">{{ job['id'] }}</td>
          <td align="left">{{ job['attributes']['name'] }}</td>
          <td align="left">{{ job['state'] }}</td>
          <td align="right">
	    {% if 'exit_code' in job and job['exit_code'] is not none %}
	    {{ job['exit_code'] }}
	    {% endif %}
	  </td>
          <td align="right">
            {% if 'duration' in job and job['duration'] %}
            {{ job['duration'] }}
            {% endif %}
          </td>
          <td align="left">
	    <a href="/jobs/{{ job['id'] }}/log">log</a>
	  </td>
        </tr>
	{% endfor %}
      </tbody>
    </table>
  </body>
</html>
