<html lang="en">
  <head>
    <title>CI2</title>
  </head>
  <body>
    <h1>CI2</h1>
    {% for wb in watched_branches %}
    <h2>{{ wb.branch }}</h2>
    {% if wb.sha is not none %}
    <p>sha: {{ wb.sha }}</p>
    {% endif %}
    {% if wb.prs is not none %}
    <h3>PRs</h3>
    {% if wb.prs|length > 0 %}
    <table>
      <thead>
        <tr>
          <th align="left">Number</th>
          <th align="left">Title</th>
          <th align="left">Build State</th>
          <th align="left">Review State</th>
        </tr>
      </thead>
      <tbody>
        {% for pr in wb.prs %}
        <tr>
          <td align="left">
            <a href="https://github.com/{{ wb.repo }}/pull/{{ pr.number }}">
              {{ pr.number }}
            </a>
          </td>
          <td align="left">
            {{ pr.title }}
          </td>
          <td align="left">
            {% if pr.batch_id is not none %}
            <a href="/batches/{{ pr.batch_id }}/log">
              {% if pr.passing is not none %}
              {% if pr.passing %}
              successful build
              {% else %}
              failed build
              {% endif %}
              {% else %}
              building
              {% endif %}
            </a>
            {% endif %}
          </td>
          <td align="left">
            {% if pr.state %}
            {{ pr.state }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    No PRs.
    {% endif %}
    {% endif %}
    
    {% endfor %}
  </body>
</html>
