<div id="header">
  <div id="header-menu">
    <b class="header-link">
      <a href="{{ notebook_base_url }}/">/</a>
    </b>

    <a class="header-link" href="{{ notebook_base_url }}/notebook">
      Notebook
    </a>
    
    <a class="header-link" href="{{ batch_base_url }}">
      Batch
    </a>
    
    {% if userdata['developer'] == 1 %}
      <a class="header-link" href="{{ ci_base_url }}">
        CI
      </a>
      
      <a class="header-link" href="{{ scorecard_base_url }}">
        Scorecard
      </a>
    {% endif %}
  </div>

  <div id="header-user">
    {% if userdata %}
      <b class="header-link">
        <a href="{{ notebook_base_url }}/user">
          {{ userdata["username"] }}
        </a>
      </b>
      <form action="{{ auth_base_url }}/logout" method="POST">
        <button class="button-header-link" type="submit">
          Log out
        </button>
      </form>
    {% else %}
      <a class="header-link" href="{{ auth_base_url }}/login">
        Login
      </a>
    {% endif %}
  </div>
</div>
