<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hail | {% block title %}{% endblock %}</title>
        <meta name='viewport' content="width=device-width, initial-scale=1"></meta>
        <link rel="shortcut icon" href="{{ base_path }}/common_static/hail_logo_sq.ico" type="image/x-icon" />
        <link
        href="https://fonts.googleapis.com/css?family=Open+Sans"
        rel="stylesheet"
        />
        <link rel="stylesheet" type="text/css" href="{{ base_path }}/common_static/css/main.css" />
        <link
        rel="stylesheet"
        type="text/css"
        href="{{ base_path }}/common_static/css/components/header.css"
        />
        {% block head %}{% endblock %}
    </head>
    <body id='theme-site'>
        {% include 'header.html' %}
        <div id="main">{%block content %}{% endblock %}</div>
    </body>
</html>
