<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hail | {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="{{ base_path }}/common_static/hail_logo_sq.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/common_static/css/main.css"/>
    <script src="https://kit.fontawesome.com/7cdc07e2ca.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="main">
      {% include 'header.html' %}
      <div id="content">
        {% if message is defined %}
        <div id="message" class="message-{{ message['type'] }}">
          {{ message['text'] }}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
