<div id="header">
  <a href="{{ base_url }}" class="header-link">
    <b>/</b>
  </a>

  <a class="header-link" href="{{ base_url }}/notebook">
    Notebook
  </a>
  <a class="header-link" href="{{ base_url }}/resources">
    Resources
  </a>

  <div id="header-flex"></div>

  {% if userdata %}
    <span class="disabled-header-item">
      <b>guest</b>
    </span>
    |
    <form action="{{ base_url }}/logout" method="POST">
      <input type="hidden" name="_csrf" value="{{ csrf_token }}"/>
      <button class="button-header-link" type="submit">
	Log out
      </button>
    </form>
    {% else %}
	<a class="header-link" href="{{ base_url }}/login">
	  Login
	</a>
    {% endif %}
</div>
