{% extends "layout.html" %}
{% block title %}Join Workshop{% endblock %}
{% block content %}
  <div id="workshop-login" class="vcentered">
    <form action="{{ base_path }}/login" method="POST">
      <table>
	<tr>
	  <td align="right">Workshop name:</td>
	  <td><input name="name" /></td>
	</tr>
	<tr>
	  <td align="right">Password:</td>
	  <td><input name="password" /></td>
	</tr>
	<tr>
	  <td align="center" colspan="2">
	    <button>
	      Join
	    </button>
	  </td>
	</tr>
      </table>
      <input type="hidden" name="_csrf" value="{{ csrf_token }}"/>
    </form>
  </div>
{% endblock %}
