{% extends "layout.html" %}
{% block title %}Resources{% endblock %}
{% block content %}
  <div class="vcentered">
    <h1>Workshop Resources</h1>
    <h2>ASHG 2019</h2>
    <p>Hail version: 0.2.25</p>
    <p><a href="https://docs.google.com/presentation/d/e/2PACX-1vQjE8o6eXBGCBHz0mLqhKb6ZlMQGtvaytDwUxIW70D5HuQe3am65rtt2eeEsD0_EugTW7TN-vko6HB-/pub?start=false&loop=false&delayms=3000" target="_blank">Slides</a></p>
    <p><a href="https://storage.googleapis.com/hail-common/workshops/ashg-2019-materials.tar" target="_blank">Notebooks and data</a> </p>
    <h2>BroadE 2020</h2>
    <p>Hail version: 0.2.33</p>
    <p><a href="https://drive.google.com/file/d/1H_unz0kAlnoJws1lH7Ga0lvgHNqJMM1T/view?usp=sharing" target="_blank">Slides</a></p>
    <p><a href="https://storage.googleapis.com/hail-common/workshops/broade_2020.tar" target="_blank">Notebooks and data</a> </p>
  </div>
  
{% endblock %}
