
/* Global */
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: #444;
  line-height: 1.6;
  margin: auto;
  border-color: #ddd;
}

a:hover {
  color: #283870;
  text-decoration-color: #283870;
  text-decoration: underline;
}

*::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

*::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

a::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

a::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

p {
  margin: 1rem 0;
}

h1,h2,h3,h4,h5,h6 {
  color: #111;
  line-height: 125%;
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
  margin: 0px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
}

h5 {
  font-size: 1em;
  font-weight: 700;
}

h6 {
  font-size: 0.9em;
  font-weight: 700;
}

b {
  font-weight: 700;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: 700;
}

ul {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p:last-child {
  margin-bottom: 0;
}

ul ul {
  margin: 0 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

@keyframes in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#hero {
  width: 100%;
  height: calc(100vh - 50px);
  min-height: 480px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#hero-background {
  opacity: 0;
  height: calc(100% - 50px);
  position: absolute;
  width: 100%;
  transition: opacity 1000ms ease-in-out;
  z-index: 1;
}

#hero-button-container {
  display: flex;
  width: 250px;
  margin-top: 1.5625rem;
}

#hero-button-container a + a {
  margin-left: 15px;
}

.button {
  background-color: #fff;
  border: 2px solid #444;
  padding: 10px 20px;
  color: #444;
  text-decoration: none;
}

.button:hover {
  background-color: #283870;
  border-color: #283870;
  text-decoration: none;
  color: #ffff;
}

.button:focus {
  outline: none;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 75px 50px;
}

.about-content.columns {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.about-content.columns > section {
  justify-content: flex-start;
}

.about-content.columns p {
  margin: 0px;
  align-self: flex-start;
}

.about-content.columns > section:nth-child(2n) {
  margin: 0px 4rem;
}

.about-content p:first-child {
  margin-top: 0px;
}

.about-content p:last-child {
  margin-bottom: 0px;
}

.about.dark .about-content h4 {
  display: table;
  margin-top: 0px;
  position: float!important;
  padding-bottom: 5px;
  color: #fff;
}

nav a {
  font-weight: 400;
}

a {
  font-weight: 700;
}

.about.dark {
  background-color: #283891;
  position: relative;
  color: #fff;
}

.about.dark a {
  color: #fff;
}

.about.dark a:hover {
  color: #fff;
  text-decoration-color: #fff;
  text-decoration: underline;
}

.about.dark a.button:hover, {
  text-decoration: none;
}

.about.dark a.button {
  color: #444;
}

.about.dark a.button:hover {
  color: #fff;
}

.header-wrap {
  position: relative;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.header-wrap h1 {
  align-self: flex-start;
  font-weight: 500;
  margin: 0px;
}

.dark .header-wrap > * {
  color: #fff;
}

#logo-title {
  font-size: 3.85rem;
  color: #283891;
  animation: ease-in 0.25s in;
  animation-fill-mode: forwards;
  background: #fff;
  margin: 0;
  font-weight: 500;
  line-height: 1.1;
  padding-bottom: 1.875rem;
}

#logo-subtitle {
  background: #fff;
  font-size: 1rem;
  animation: ease-in 0.3s in;
  animation-delay: 0.06s;
  opacity: 0;
  animation-fill-mode: forwards;
}

#hero-content {
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: flex-start;
  padding: 50px 100px 50px 50px;
  background: #fff;
  box-shadow: 0px 0px 25px 20px rgba(255,255,255, 1);
  border-radius: 50px;
  max-width: calc(44rem + 100px);
}

#hero-content.wide {
  display: block;
  z-index: 1;
  padding: 50px 100px 50px 50px;
  box-shadow: none;
  border-radius: 0px;
  text-align: l;
}

/* Modified for Hail*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Grouping content
  ========================================================================== */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */

b,
strong {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */

/**
  * Add the correct font size in all browsers.
  */

small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

/* Forms
    ========================================================================== */

/**
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
  */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input { /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

button,
select { /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
  * Remove the inner border and padding in Firefox.
  */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus styles unset by the previous rule.
  */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Correct the padding in Firefox.
  */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */

progress {
  vertical-align: baseline;
}

/**
  * Remove the default vertical scrollbar in IE 10+.
  */

textarea {
  overflow: auto;
}

/**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
  * Remove the inner padding in Chrome and Safari on macOS.
  */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
    ========================================================================== */

/*
  * Add the correct display in Edge, IE 10+, and Firefox.
  */

details {
  display: block;
}

/*
  * Add the correct display in all browsers.
  */

summary {
  display: list-item;
}

/* Misc
    ========================================================================== */

/**
  * Add the correct display in IE 10+.
  */

template {
  display: none;
}

/**
  * Add the correct display in IE 10.
  */

[hidden] {
  display: none;
}

/* more hail stuff */

@media only screen and (max-width: 950px) {
  .about-content.columns > section:nth-child(2n) {
    margin: 4rem 0;
  }

  .about-content.columns {
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 87.5%;
  }
}

@media only screen and (max-width: 680px) {
  html {
    font-size: 81.25%;
  }
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  body {
    font-size: 12pt;
  }

  #body {
    max-width: 100%;
  }

  a,  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="javascript:"]:after,  a[href^="#"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page :left {
      margin: 15mm 20mm 15mm 10mm;
  }

  @page :right {
      margin: 15mm 10mm 15mm 20mm;
  }

  p,  h2,  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,  h3 {
    page-break-after: avoid;
  }
}

/* references.html */

code, samp, kbd {
  color: #000;
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  padding: .15625em .25em;  /* 5/32, 1/4 */
}

.sourceCode {
  width: 515px;
  align-self: center;
}

pre, code {
  background-color: inherit;
}

pre, blockquote {
  border: 1px solid;
  border-color: inherit;
  padding-right: 1em;
  page-break-inside: avoid;
}

code {
  white-space: pre-wrap;
  padding: 3px;
  border-radius: 4px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border-radius: 4px;
}

pre code {
  padding: 0;
}

.sourceCode {
  border-color: #ddd;
}
