/* https://gist.githubusercontent.com/killercup/5917178/raw/40840de5352083adb2693dc742e9f75dbb18650f/pandoc.css */

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: 16px;
}

.callout {
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin: 1rem 0px;
}
.callout p:last-child {
  margin-bottom: 0px;
}

#body {
  color: #444;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  line-height: 1.6;
  padding: .875rem;
  padding-top: 0px;
  margin: auto;
  max-width: 42rem;
  background: #fff;
  border-color: #ddd;
}

a, a code {
  color: #1a0dab;
  text-decoration: none;
}

a:hover, a:hover code {
  color: #1a0dab;
  text-decoration-color: #1a0dab;
  text-decoration: underline;
}

a:visited, a:visited code {
  color: #609;
  text-decoration-color: #609;
}

*::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

*::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000;
}

a::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

a::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad;
}

p {
  margin: 1em 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
  line-height: 125%;
  font-weight: normal;
}

h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

code, samp, kbd {
  color: #000;
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  padding: .15625em .25em;  /* 5/32, 1/4 */
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p:last-child {
  margin-bottom: 0;
}

ul ul, ol ol {
  margin: 0 0;
}

dl {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
  margin-bottom: .8em;
}

dd {
  margin: 0 0 .8em 2em;
}

dd:last-child {
  margin-bottom: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

figure {
  display: block;
  text-align: center;
  margin: 1em 0;
}

figure img {
  border: none;
  margin: 0 auto;
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin: 0 0 .8em;
}

table {
  margin-bottom: 2em;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: inherit;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  padding: .2em 1em;
  background-color: #eee;
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: inherit;
}

table td {
  padding: .2em 1em;
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: inherit;
  vertical-align: top;
}

.author {
  font-size: 1.2em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  body {
    font-size: 12pt;
  }

  #body {
    max-width: 100%;
  }

  a, a:visited {
    text-decoration: underline;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: inherit;
    margin: 1em 0;
    padding: 0;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page :left {
    margin: 15mm 20mm 15mm 10mm;
}

  @page :right {
    margin: 15mm 10mm 15mm 20mm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}

#banner:visited {
    text-decoration: none;
}

#banner:hover {
    text-decoration: none;
}

.sourceCode {
  border-color: inherit;
}

pre, code {
  background-color: #f5f5f5;
}

pre, blockquote {
  border: 1px solid;
  border-color: inherit;
  padding-right: 1em;
  page-break-inside: avoid;
}

code {
  white-space: pre-wrap;
  padding: 3px;
  border-radius: 4px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
}

pre code {
  padding: 0;
}