{% extends "layout.html" %}
{% block title %}Signup{% endblock %}
{% block content %}
<div class="vcentered">
  {% if state == 'active' %}
  <i class="material-icons ready-icon">Created account</i>
  <a target="_blank" href="{{ base_url }}/login">
    <b>Login</b>
  </a>
  {% elif state == 'creating' %}
  <div class="spinner"></div>
  <b>Creating account for {{ username }}</b>
  {% else %}
  <div><b>Account is in a bad state!</b></div>
  <br>
  <div>Please contact <a href="mailto:hail-team@broadinstitute.org">hail-team@broadinstitute.org</a><div>
  <br>
  <div class="small">Username: <b>{{ username }}</b></div>
  <div class="small">Email: <b>{{ email }}</b></div>
  <div class="small">Status: <b>{{ state }}</b></div>
  {% endif %}
</div>
{% if state == 'creating' %}
<script>
  let protocol = location.protocol.replace("http", "ws")
  let sock = new WebSocket(protocol + location.host + "{{ base_path }}/signup/wait");
  sock.onmessage = function (event) {
      window.location.reload()
  }
</script>
{% endif %}
{% endblock %}
