*.o
*~
.*.crc
*.pyc
**/.mypy_cache/
**/hail-*.log
**/__pycache__/
hail/.bloop/
hail/.gradle/
hail/.idea/
hail/.pytest_cache/
hail/.ensime.cache.d/
hail/.ensime_cache.d/
hail/.ensime_cache/
hail/build/
hail/hail.iml
hail/hail.log
hail/out/
hail/target/
hail/python/hail/docs/_build/*
hail/src/main/c/headers
hail/src/main/c/lib
hail/src/main/c/libsimdpp-2.0-rc2
hail/src/main/c/libsimdpp-2.0-rc2.tar.gz
hail/src/main/resources/build-info.properties
hail/src/test/resources/example.v11.bgen.idx
hail/src/test/resources/random.bgen.idx
ci/repos
