*~
*.o
.*.crc
.gradle/
.idea/
.vscode/
.bloop
.metals
hail/libs/
.pytest_cache/
build/
*.iml
hail*.log
out/
target
.classpath
.DS_Store
__pycache__/
*.pyc
*.egg-info/
hs_err_pid*.log
*-checkpoint.ipynb
*hail/python/hail/docs/tutorials/data*
*hail/python/hailtop/pipeline/docs/output*
.mypy_cache/
node_modules
*.out
GPATH
GRTAGS
GTAGS
hail/python/hail/docs/experimental/hail.experimental.DB.rst
hail/python/hailtop/batch/docs/api/
hail/upload-qob-jar
hail/upload-qob-test-resources
**/hail_version
web_common/web_common/static/css/
docs.tar.gz
website/website/static/css/
*.dylib  # macOS dynamic libraries
*/hail.jar
infra/.terraform.lock.hcl
.dist/
.cache/
wheel-container.tar
*-image
.venvs/
