*~
*.o
.idea/
hail.iml
.gradle/
build/
out/
python/**/*.pyc
.*.crc
python/hail/docs/_build/*
src/main/c/libsimdpp-2.0-rc2.tar.gz
src/main/c/libsimdpp-2.0-rc2
src/main/c/headers
src/main/c/lib/**/*.so
target
src/main/resources/build-info.properties
src/test/resources/example.v11.bgen.idx
