[tool.ruff]
line-length = 120
select = ["F", "E", "W", "I", "PL", "RUF"]
ignore = [
    "E501",    # Line length too long
    "E722",    # Do not use bare `except`
    "E731",    # Do not assign a lambda expression, use a def
    "E741",    # Ambiguous variable name
    "PLW0603", # Using the global statement to update `<VAR>` is discouraged
    "PLR0911", # Too many return statements
    "PLR0912", # Too many branches
    "PLR0915", # Too many statements
    "PLR0913", # Too many arguments to function call
    "PLC1901", # `<VAR> != ''` can be simplified to `<VAR>` as an empty string is falsey
    "PLR2004", # Magic value used in comparison
]
extend-exclude = ['sql', 'datasets']
force-exclude = true

[tool.ruff.isort]
known-first-party = ["auth", "batch", "ci", "gear", "hailtop", "monitoring", "website", "web_common"]

[tool.ruff.per-file-ignores]
"hail/python/hail/backend/**/*" = ["I", "PL", "RUF"]
"hail/python/hail/docs/**/*" = ["I", "PL", "RUF"]
"hail/python/hail/experimental/**/*" = ["I", "PL", "RUF"]
"hail/python/hail/expr/**/*" = ["I", "PL", "RUF"]
"hail/python/hail/fs/**/*" = ["I", "PL", "RUF"]
"hail/python/hail/genetics/**/*" = ["I", "PL", "RUF"]
"hail/python/hail/ggplot/**/*" = ["I", "PL", "RUF"]
"hail/python/hail/ir/**/*" = ["I", "PL", "RUF"]
"hail/python/hail/linalg/**/*" = ["I", "PL", "RUF"]
"hail/python/hail/methods/**/*" = ["I", "PL", "RUF"]
"hail/python/hail/nd/**/*" = ["I", "PL", "RUF"]
"hail/python/hail/plot/**/*" = ["I", "PL", "RUF"]
"hail/python/hail/stats/**/*" = ["I", "PL", "RUF"]
"hail/python/hail/typecheck/**/*" = ["I", "PL", "RUF"]
"hail/python/hail/utils/**/*" = ["I", "PL", "RUF"]
"hail/python/hail/vds/**/*" = ["I", "PL", "RUF"]
"hail/python/hailtop/**/*" = ["I"]
"hail/python/test/**/*" = ["ALL"]
"hail/python/cluster-tests/**/*" = ["ALL"]
"hail/python/setup-hailtop.py" = ["ALL"]
"hail/python/setup.py" = ["ALL"]
"hail/scripts/update-terra-image.py" = ["ALL"]
"hail/src/**/*" = ["ALL"]
"benchmark/**/*" = ["ALL"]
"datasets/**/*" = ["ALL"]
"devbin/**/*" = ["ALL"]
"docker/**/*" = ["ALL"]
"query/**/*" = ["ALL"]

[tool.ruff.format]
preview = true
quote-style = "preserve"

[pytest]
timeout = 120

[tool.pyright]
ignore = [
    "**/sql",
    "**/build",
    "**/target",
    "hail/python/hail",
    "hail/python/test/hail",
    "hail/python/hailtop/batch/docs",
    "query",
    "datasets",
    "benchmark",
    "docker/vep/vep.py",
    "devbin",
    "hail/src/test/resources/makeTestInfoScore.py",
]
