body {
    margin:0;
    padding:0;
    font-family:sans-serif;
    font-size:12pt;
}

.info {

}

.warning {
  color:red;
}

.Section {
  padding-left:10px;
  border-style:solid;
  border-color:#AAAAAA;
  border-radius:5px;
}

.result {
  display:flex;
}

.test-success-value {
  font-weight:bold;
  width:90px;
}

.header-text {
  flex:1;
}

.section-results {
  width:250px;
  color:gray;
}

.source-info {
  width:250px;
}

.duration {
  width:200px;
}

.results-button {
  width:25px;
  align:center;
  background-color:#DDDDFF;
}

.successful-test {
  color:#00DD22;
}

.failed-test {
  color:#DD0022;
}

.hidden {
  display: none;
}

.file {
  padding:10px;
}