{% extends "layout.html" %}
{% block title %}Join Workshop{% endblock %}
{% block content %}
  {% if message is defined %}
    <div id="message" class="message-{{ message['type'] }}">
      {{ message['text'] }}
    </div>
  {% endif %}

  <div id="workshop-login" class="vcenter">
    <form action="{{ base_path }}/workshop" method="POST">
      <table>
	<tr>
	  <td align="right">Workshop name:</td>
	  <td><input name="name" /></td>
	</tr>
	<tr>
	  <td align="right">Password:</td>
	  <td><input name="password" /></td>
	</tr>
	<tr>
	  <td align="center" colspan="2">
	    <button>
	      Join
	    </button>
	  </td>
	</tr>
      </table>
    </form>
  </div>
{% endblock %}
