apiVersion: apps/v1
kind: Deployment
metadata:
  name: internal-gateway
  labels:
    app: internal-gateway
    hail.is/sha: "{{ code.sha }}"
spec:
  selector:
    matchLabels:
      app: internal-gateway
  replicas: 3
  template:
    metadata:
      labels:
        app: internal-gateway
        hail.is/sha: "{{ code.sha }}"
    spec:
      priorityClassName: infrastructure
      nodeSelector:
        preemptible: "true"
      tolerations:
       - key: preemptible
         value: "true"
       - key: "kubernetes.azure.com/scalesetpriority"
         value: "spot"
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: "app"
                    operator: In
                    values:
                    - internal-gateway
              topologyKey: "kubernetes.io/hostname"
      containers:
       - name: internal-gateway
         image: "{{ internal_gateway_image.image }}"
         resources:
           requests:
             cpu: "20m"
             memory: "200M"
           limits:
             cpu: "4"
             memory: "1G"
         ports:
          - containerPort: 80
         volumeMounts:
          - name: ssl-config-internal-gateway
            mountPath: /ssl-config
            readOnly: true
      volumes:
       - name: ssl-config-internal-gateway
         secret:
           optional: false
           secretName: ssl-config-internal-gateway
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: internal-gateway
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: internal-gateway
