apiVersion: apps/v1
kind: Deployment
metadata:
  name: internal-gateway
  labels:
    app: internal-gateway
    hail.is/sha: "{{ code.sha }}"
spec:
  selector:
    matchLabels:
      app: internal-gateway
  replicas: 3
  template:
    metadata:
      labels:
        app: internal-gateway
        hail.is/sha: "{{ code.sha }}"
    spec:
      priorityClassName: infrastructure
      nodeSelector:
        preemptible: "true"
      tolerations:
       - key: preemptible
         value: "true"
       - key: "kubernetes.azure.com/scalesetpriority"
         value: "spot"
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: "app"
                    operator: In
                    values:
                    - internal-gateway
              topologyKey: "kubernetes.io/hostname"
      containers:
       - name: internal-gateway
         image: "{{ global.docker_prefix }}/envoy:v1.22.3"
         command:
           - /usr/local/bin/envoy
           - --config-path
           - /etc/envoy/envoy.yaml
           - --concurrency
           - "2"
           - --service-cluster
           - gateway
           - --service-node
           - $(hostname)
         resources:
           requests:
             cpu: "20m"
             memory: "200M"
           limits:
             cpu: "1"
             memory: "1G"
         env:
         - name: ENVOY_UID
           value: "0"
         ports:
          - containerPort: 80
         volumeMounts:
          - name: ssl-config-internal-gateway
            mountPath: /ssl-config
            readOnly: true
          - name: internal-gateway-envoy-config
            mountPath: /etc/envoy
            readOnly: true
          - name: internal-gateway-xds-config
            mountPath: /config_map/xds
            readOnly: true
      volumes:
       - name: ssl-config-internal-gateway
         secret:
           optional: false
           secretName: ssl-config-internal-gateway
       - name: internal-gateway-envoy-config
         configMap:
           name: internal-gateway-envoy-config
       - name: internal-gateway-xds-config
         configMap:
           name: internal-gateway-xds-config
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: internal-gateway
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: internal-gateway
