@import "variables.scss";

#notebook {
    display: flex;
    flex-direction: column;

    .nb {
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-width: 320px;
    }

    .ready-icon {
        font-size: $icon-size;
	font-weight: bold;
        color: green;
        margin-right: $margin;
    }

    .spinner {
        margin-right: $margin;
    }

    .nb-state-container {
        flex-direction: column;
        display: flex;
	/* override link styling */
	color: black;
	&:active,
	&:hover {
            text-decoration: none;

	    .nb-link {
		text-decoration: underline;
	    }
	}
    }

    .nb-link {
	color: #07c;
	text-decoration: none;
    }

    .nb-close {
        margin-left: $margin * 4;
        font-size: $icon-size;
	font-weight: bold;
        /* clear button styling */
        border: none;
        background: none;
    }

    .nb-create {
        padding: 10px;
    }
}

.spinner {
    width: $icon-size;
    height: $icon-size;
    border-radius: 100%;
    background-color: $devil-gray;
    -webkit-animation: pulse 1s infinite ease-in-out;
    animation: pulse 1s infinite ease-in-out;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
