-c ../hail/python/pinned-requirements.txt
-c ../hail/python/dev/pinned-requirements.txt
-c ../gear/pinned-requirements.txt
aiohttp-jinja2>=1.1.1,<2
Jinja2>3,<4
libsass>=0.19.2,<1
aiohttp>=3.9.2 # not directly required, pinned by Snyk to avoid a vulnerability
