apiVersion: v1
kind: Service
metadata:
  name: site
  namespace: default
  labels:
    app: site
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: site
