{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block meta_description %} About Hail {% endblock %}
{% block content %}

<h1 id="about">About</h1>

<p>Hail has been widely adopted in academia and industry, including as the
analysis platform for the <a href="https://gnomad.broadinstitute.org">genome
aggregation database</a> and <a href="https://www.nealelab.is/uk-biobank">UK
Biobank rapid GWAS</a>. Learn more about <a href="{{ base_path }}/references.html">Hail-powered
science</a>.</p>

<p>Hail is actively developed with new features and performance improvements
integrated weekly. See the <a href="{{ base_path }}/docs/0.2/change_log.html">changelog</a> for
more information.</p>

<h2 id="hail-team">Hail Team</h2>

<p>Hail is maintained by a team in the <a href="https://nealelab.is/">Neale
lab</a> at the <a href="https://www.broadinstitute.org/stanley">Stanley Center
for Psychiatric Research</a> of
the <a href="https://www.broadinstitute.org">Broad Institute of MIT and
Harvard</a> and the <a href="https://www.atgu.mgh.harvard.edu/">Analytic and
Translational Genetics Unit</a>
of <a href="https://www.massgeneral.org/">Massachusetts General
Hospital</a>.</p>

<p>Contact the Hail team
at <a href="mailto:hail@broadinstitute.org"><code>hail@broadinstitute.org</code></a>.</p>

<p>Follow us on <a href="https://www.twitter.com/hailgenetics">Twitter</a>.</p>

{% endblock %}
