{% extends "base.html" %}
{% block title %} Cheat Sheets {% endblock %}
{% block meta_description %} Cheat Sheets {% endblock %}
{% block content %}

<span id='gethelp' class='non-home'>
  <div id="hero" style='height:calc(25vh - 50px); min-height: 250px; background: #2a3a8c; color: #fff'>
    <div id="hero-content" style='box-shadow: none; background: inherit' class='wide'>
      <h1 id="logo-title" style='background: inherit; color: inherit;animation:none'>Cheat Sheets</h1>
      <div id="logo-subtitle" style='background:inherit;animation: none; opacity: 1'>Shortcuts to plinking through Hail</div>
    </div>
  </div>
  <div id="about" class="about">
    <p>
      Hail has two cheat sheets, describing the two data structures in Hail: the Table and the MatrixTable.
    </p>
    <section class='left'>
      <a class='button' href='{{ base_path }}/docs/0.2/_static/cheatsheets/hail_tables_cheat_sheet.pdf'>Tables</a>
      <div>Tables are the Hail data structure for one-dimensional data. You can create a Table from TSVs, CSVs, sites VCFs, FAM files, and Pandas DataFrames.</div>
    </section>
    <section class='left'>
      <a class='button' href='{{ base_path }}/docs/0.2/_static/cheatsheets/hail_matrix_tables_cheat_sheet.pdf'>MatrixTables</a>
      <div>MatrixTables are the Hail data structure for two-dimensional data. You can create a MatrixTable from VCF, BGEN, and PLINK files.</div>
    </section>
  </div>
</span>

{% endblock %}
