<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hail | {% block title %}{% endblock %}</title>

    <meta charset="utf-8"/>
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <link rel="shortcut icon" href="{{ base_path }}/static/hail_logo_sq-sm-opt.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="{{ base_path }}/static/css/style.css"/>
    <link rel="stylesheet" href="{{ base_path }}/static/css/navbar.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css"/>

    <script src="https://kit.fontawesome.com/7cdc07e2ca.js" crossorigin="anonymous"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-86050742-1', 'auto');
      ga('send', 'pageview');
    </script>

    {% block head %}{% endblock %}
  </head>
  <body>
    {% include "nav-top.html" %}
    <div id="main">
      {% block content %}{% endblock %}
    </div>
    {% include "nav-bottom.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-python.min.js"></script>
  </body>
</html>
