<nav class="navbar align-content-start justify-content-start sticky" id="hail-navbar">
  <div class="container-fluid align-content-start justify-content-start d-flex" id="hail-container-fluid">
    <div class="navbar-header" id="hail-navbar-header">
      <a class="navbar-left" id="hail-navbar-brand" href="{{ base_path }}/">
        <img alt="Hail" height="30" id="logo" src="{{ base_path }}/static/hail-logo-cropped-sm-opt.png" />
      </a>
      <button type="button" id='navbar-toggler' class="navbar-toggler" data-toggle="collapse" data-target="#hail-navbar-collapse" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="hail-navbar-collapse">
      <input id='search' type='search' placeholder='Search Hail Docs'/>
      <ul class="nav navbar-nav navbar-right" id="hail-menu">
        <li class="nav-item">
          <a href="{{ base_path }}/docs/0.2/index.html">Query Docs</a>
        </li>
        <li class="nav-item">
          <a href="{{ base_path }}/docs/batch/index.html">Batch Docs</a>
        </li>
        <li class="nav-item">
          <a href="https://discuss.hail.is">Forum</a>
        </li>
        <li class="nav-item">
          <a href="{{ base_path }}/references.html">Science</a>
        </li>
        <li class="nav-item">
          <a href="{{ blog_base_url }}">Blog</a>
        </li>
        <li class="nav-item" style='margin-top:-2px'>
          <a href="https://github.com/hail-is/hail" class='img-link' target='_blank'>
            <i class="fab fa-github fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
