flake8==3.8.3
mypy==0.780
pylint==2.6.0
astroid<2.5  # https://github.com/PyCQA/pylint/issues/4131
pre-commit==2.9.2
black==20.8b1
curlylint==0.12.0
pytest==6.2.2
pytest-html==1.20.0
pytest-xdist==2.2.1
pytest-instafail==0.4.2
sphinx==3.5.4
sphinx-autodoc-typehints==1.11.1
nbsphinx==0.8.3
sphinx_rtd_theme==0.4.2
jupyter==1.0.0
# importlib-metadata<4: in dev-requirements, jupyter depends on (an unpinned) ipykernel which needs importlib-metadata<4
importlib-metadata<4
sphinxcontrib.katex==0.5.1
fswatch==0.1.1
