flake8==3.7.8
pylint==2.3.1
pytest==4.5
pytest-html==1.20.0
pytest-xdist==1.28
pytest-instafail==0.4.1
sphinx==1.7.9
nbsphinx==0.4
sphinx_rtd_theme==0.4.2
jupyter==1.0.0
tornado<6
sphinxcontrib.katex==0.5.1
