body {
  color: #444;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 14px;
  background: #fefefe;
}

div.body h1 {
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  color: #111;
  line-height: 125%;
  font-weight: normal;
  font-size: 2.5em;
}

div.body h2 {
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  color: #111;
  line-height: 125%;
  font-weight: normal;
  font-size: 2em;
}

table.field-list td {
   padding: 10px;
}

table.field-list th {
    padding: 10px;
    width: 100px;
}

.class .descclassname {
    padding-right: 0px
}

.class .descname {
    padding-left: 0px
}

.document dt {
    margin-top: 35px;
}

blockquote {
    font-size: 14px;
    padding: 10px;
}

blockquote ul.simple {
    margin-top: 0px;
}

blockquote ul.simple li {
    margin-bottom: 10px;
}

blockquote ul.simple li:last-child {
    margin-bottom: 0px;
}

div.highlight pre {
    margin-left: 0px;
    padding-left: 30px;
}

dl.class dt {
    background: #d4d7e8;
    padding: 6px;
    border-radius: 3px;
}

dl.method dt {
    background: #e7f2fa;
    padding: 6px;
    border-radius: 3px;
}




