body {
  color: #444;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 14px;
  background: #fefefe;
}

div.body h1 {
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  color: #111;
  line-height: 125%;
  font-weight: normal;
  font-size: 2.5em;
}

table.field-list td {
   padding: 10px;
}

table.field-list th {
    padding: 10px;
    width: 100px;
}

.class .descclassname {
    padding-right: 0px
}

.class .descname {
    padding-left: 0px
}

.document dt {
    margin-top: 35px;
}


