{% extends "layout.html" %}
{% block title %}Batch {{ batch['id'] }}{% endblock %}
{% block content %}
    <h1>Batch {{ batch['id'] }}</h1>
    {% if 'attributes' in batch %}
    <div class="attributes">
      {% for name, value in batch['attributes'].items() %}
      <div>{{ name }}: {{ value }}</div>
      {% endfor %}
      {% endif %}
    </div>
    <h2>Jobs</h2>
    <div class="data-table" role="grid">
      <div class="headerrow" role="row">
        <div class="headercell" role="gridcell">id</div>
        <div class="headercell" role="gridcell">name</div>
        <div class="headercell" role="gridcell">state</div>
        <div class="headercell" role="gridcell">exit_code</div>
        <div class="headercell" role="gridcell">duration</div>
      </div>
      {% for job in batch['jobs'] %}
      <a class="row" role="row" href="{{ base_path }}/batches/{{ job['batch_id'] }}/jobs/{{ job['job_id'] }}">
        <div class="numeric-cell" role="gridcell">{{ job['job_id'] }}</div>
        <div class="cell" role="gridcell">{{ job['attributes']['name'] }}</div>
        <div class="cell" role="gridcell">{{ job['state'] }}</div>
        <div class="cell" role="gridcell">
          {% if 'exit_code' in job and job['exit_code'] is not none %}
          {% if job['exit_code'] == 0 %}
          <span style="color: #55aa33;">
            Success 🎉
            {% else %}
            <span style="color: #a93333;">
              Failure 🤷‍♀️
              {% endif %}
              ({{ job['exit_code'] }})
            </span>
            {% endif %}
        </div>
        <div class="cell" role="gridcell">
            {% if 'duration' in job and job['duration'] is not none %}
            {{ job['duration'] }}
            {% endif %}
        </div>
      </a>
      {% endfor %}
    </div>
{% endblock %}
