{% macro dev_deploy_table(dev_deploys) %}
<table id="dev-deploys" class="data-table">
  <thead>
    <th>ID</th>
    <th>Branch</th>
    <th>Deploy State</th>
  </thead>
  <tbody>
    {% for batch in dev_deploys %}
    <tr>
      <td class="numeric-cell">
        <a href="{{ base_path }}/batches/{{ batch['id'] }}">{{ batch['id'] }}</a>
      </td>
      <td>
        {{ batch['attributes']['target_branch'] }}
      </td>
      <td>
        {% if 'state' in batch and batch['state'] %}
        {{ batch['state'] }}
        {% endif %}
        {% if not batch['complete'] %}
        running
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}
