{% extends "layout.html" %}
{% block title %}Batch {{ batch_id }} Job {{ job_id }}{% endblock %}
{% block content %}
    <h1>Batch {{ batch_id }} Job {{ job_id }}</h1>

    <form method="GET" action="{{ base_path }}/batches/{{ batch_id }}">
      <button>Back to batch</button>
    </form>

    <h2>Attempts</h2>
    {% if attempts %}
    <table class="data-table">
      <thead>
        <tr>
	  <th>Attempt ID</th>
	  <th>Instance</th>
	  <th>Start</th>
	  <th>End</th>
	  <th>Duration</th>
	  <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        {% for attempt in attempts %}
        <tr>
	  <td class="numeric-cell">{{ attempt['attempt_id'] }}</td>
	  <td>{{ attempt['instance_name'] }}</td>
	  <td>
	    {% if 'start_time' in attempt and attempt['start_time'] is not none %}
	    {{ attempt['start_time'] }}
	    {% endif %}
	  </td>
	  <td>
	    {% if 'end_time' in attempt and attempt['end_time'] is not none %}
	    {{ attempt['end_time'] }}
	    {% endif %}
	  </td>
	  <td>
	    {% if 'duration' in attempt and attempt['duration'] is not none %}
	    {{ attempt['duration'] }}
	    {% endif %}
	  </td>
	  <td>
	    {% if 'reason' in attempt and attempt['reason'] is not none %}
	    {{ attempt['reason'] }}
	    {% endif %}
	  </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No attempts</p>
    {% endif %}

    {% if job_log %}
      <h2>Log</h2>

      {% if 'input' in job_log %}
      <h3 class="stacked-header">Input</h3>
      <pre>{{ job_log['input'] }}</pre>
      {% endif %}

      {% if 'main' in job_log %}
      <h3>Main</h3>
      <pre>{{ job_log['main'] }}</pre>
      {% endif %}

      {% if 'output' in job_log %}
      <h3>Output</h3>
      <pre>{{ job_log['output'] }}</pre>
      {% endif %}
    {% endif %}

    <h2>Status</h2>
    <pre>{{ job_status }}</pre>
{% endblock %}
