<html lang="en">
  <head>
    <title>Job {{ job_id }} Log</title>
  </head>
  <body>
    <p><a href="/">ci</a> : <a href="/batches/{{ batch_id }}">Batch {{ batch_id }}</a> : job {{ job_id }} log</p>

    <h1>Job {{ job_id }} Log</h1>
    {% if 'setup' in job_log %}
    <h3>Setup</h3>
    <pre>{{ job_log['setup'] }}</pre>
    {% endif %}

    {% if 'main' in job_log %}
    <h3>Main</h3>
    <pre>{{ job_log['main'] }}</pre>
    {% endif %}

    {% if 'cleanup' in job_log %}
    <h3>Cleanup</h3>
    <pre>{{ job_log['cleanup'] }}</pre>
    {% endif %}
  </body>
</html>
