aiodns>=2.0.0,<3
aiodocker>=0.17.0,<1
aiohttp-jinja2>=1.1.1,<2
aiohttp-session>=2.7.0,<3
aiohttp>=3.8.1,<4
aiomysql>=0.0.20,<1
aioredis>=1.3.1,<2
aiorwlock>=1.0.0,<2
async-timeout>=4.0.2,<5
asyncinit>=0.2.4,<1
azure-identity>=1.9.0,<2
azure-mgmt-storage==20.1.0
azure-storage-blob>=12.8.1,<13
black>=22.3.0,<23
boto3>=1.21.13,<2
botocore>=1.24.13,<2
curlylint>=0.13.1,<1
click>=8.1.3,<9
decorator>=5.1.1,<6
dictdiffer>=0.8.1,<1
dill>=0.3.1.1,<0.4
docker>=5.0.3,<7
flake8>=4.0.1,<5
Flask-Cors>=3.0.10,<4
Flask-Sockets>=0.2.1,<1
Flask>=2.2.2,<3
frozenlist>=1.3.1,<2
gidgethub>=4.1.0,<6
google-api-python-client>=2.52.0,<3
google-auth-oauthlib>=0.5.2,<1
humanize>=1.0.0,<2
hurry.filesize>=0.9,<1
isort>=5.10.1,<6
orjson>=3.6.4,<4
# importlib-metadata<4: in dev/requirements, jupyter depends on (an unpinned) ipykernel which needs importlib-metadata<4
importlib-metadata<4
janus>=0.6.1,<1
Jinja2==3.0.3
# keyrings.alt>3.1: https://bugs.launchpad.net/usd-importer/+bug/1794041/comments/6
keyrings.alt>=3.1,<4
kubernetes-asyncio>=19.15.1,<20
libsass>=0.19.2,<1
mypy==0.990
nest_asyncio>=1.5.4,<2
parsimonious>=0.8.1,<1
pandas>=1.3.0,<1.5.0
plotly>=5.5.0,<6
prometheus_async>=19.2.0,<20
prometheus_client>=0.11.0,<1
protobuf<=3.20.0
psutil>=5.9.0,<6
pyjwt>=2.4.0,<3
pylint==2.15.4
PyMySQL>=1,<2
pytest>=6.2.5,<7
pytest-asyncio>=0.14.0,<1
pytest-html>=1.20.0,<2
pytest-instafail>=0.4.2,<1
pytest-xdist>=2.2.1,<3
python-dateutil>=2.8.1,<3
python-json-logger>=2.0.2,<3
requests>=2.25.1,<3
setuptools>=38.6.0
sortedcontainers>=2.4.0,<3
tabulate>=0.8.9,<1
twine>=1.11.0,<2
urllib3>=1.26.5,<2
uvloop>=0.16.0,<2
wheel>=0.31.0,<1
# yarl 1.6.0 broke query string parsing in aiohttp 3.6.[012] https://github.com/aio-libs/aiohttp/issues/4972#issuecomment-700290809
yarl<1.6.0
zulip>=0.6.3,<1
rich==12.6.0

# mypy library stubs
types-Deprecated
types-PyMySQL
types-PyYAML
types-chardet
types-decorator
types-python-dateutil
types-requests
types-setuptools
types-six
types-tabulate
types-urllib3
