aiodns==2.0.0
aiodocker==0.17.0
aiohttp-jinja2==1.1.1
aiohttp-session==2.7.0
aiohttp==3.6.0
aiomysql==0.0.20
async-timeout==3.0.1
asyncinit==0.2.4
Authlib==0.11
decorator==4.4.0
flake8==3.7.8
Flask-Cors==3.0.8
Flask-Sockets==0.2.1
Flask==1.0.3
gcsfs==0.2.1
gidgethub==3.1.0
google-api-python-client==1.7.10
google-cloud-logging==1.12.1
google-cloud-storage==1.16.1
humanize==0.5.1
hurry.filesize==0.9
Jinja2==2.10.1
kubernetes-asyncio==9.1.0
libsass==0.19.2
nest_asyncio==1.0.0
parsimonious==0.8.1
prometheus_async==19.2.0
prometheus_client==0.7.1
pyjwt==1.7.1
pylint==2.3.1
PyMySQL==0.9.3
pytest-instafail==0.4.1
pytest==4.6.3
python-json-logger==0.1.11
requests==2.22.0
setuptools>=38.6.0
sortedcontainers==2.1.0
tabulate==0.8.3
tqdm==4.41.1
twine>=1.11.0
urllib3==1.24.3
uvloop==0.14.0
Werkzeug==0.15.4
wheel>=0.31.0
zulip==0.6.3
