{% extends "layout.html" %}
{% block title %}Workshops{% endblock %}
{% block content %}
  <div id="workshops">
    <h1>Workshops</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>CPU</th>
          <th>Memory</th>
          <th>Password</th>
          <th>Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for workshop in workshops %}
          <form action="{{ base_path }}/workshop-admin-update" method="POST">
            <tr>
              <td>{{ workshop['name'] }}</td>
              <td><input name="image" value="{{ workshop['image'] }}" /></td>
              <td><input name="cpu" value="{{ workshop['cpu'] }}" /></td>
              <td><input name="memory" value="{{ workshop['memory'] }}" /></td>
              <td>
                <input name="password" value="{{ workshop['password'] }}" />
              </td>
              <td style="text-align:center;">
                <input type="checkbox" name="active"
		       {% if workshop['active'] == 1 %}
		       checked
		       {% endif %}
		       />
              </td>
              <td>
                <button>
                  Update
                </button>
              </td>
              <input type="hidden" name="id" value="{{ workshop['id'] }}" />
              <input type="hidden" name="name" value="{{ workshop['name'] }}" />
              <input type="hidden" name="_csrf" value="{{ csrf_token }}"/>
            </tr>
          </form>
        {% endfor %}
        <form action="{{ base_path }}/workshop-admin-create" method="POST">
          <tr>
            <td>
              <input name="name" />
	    </td>
            <td><input name="image" /></td>
            <td><input name="cpu" /></td>
            <td><input name="memory" /></td>
            <td>
              <input name="password" />
            </td>
            <td style="text-align:center;">
              <input type="checkbox" name="active" />
            </td>
            <td>
              <button>
                Add
              </button>
            </td>
            <input type="hidden" name="_csrf" value="{{ csrf_token }}"/>
          </tr>
        </form>
      </tbody>
    </table>
    <h2>Delete Workshop</h2>
    <form action="{{ base_path }}/workshop-admin-delete" method="POST">
      <label for="name">Workshop name:</label>
      <input type="text" name="name">
      <input type="hidden" name="_csrf" value="{{ csrf_token }}"/>
      <button class="dangerous" type="submit">Delete</button>
    </form>
  </div>
{% endblock %}
