@import './variables/colors.scss';
#theme-site {
  a {
    color: $black;
    text-decoration: none;
    &.active,
    &:hover {
      color: $devil-gray;
    }
  }
  button {
    outline: none;
    /* border: none; */
    /* display: inline-block; */
    /* width: 20px; */
    border: 1px solid $black;
    background-color: $white;
    padding: 10px;
    border-radius: 3px;
    &:focus,
    &:hover {
      border-color: $devil-gray;
    }
  }
  .link-button,
  button {
    cursor: pointer;
    color: $black;
    &:focus,
    &:hover {
      color: $devil-gray;
    }
  }
  &.dark {
    a {
      color: $white;
      background-color: $black;
    }
    button {
      border: 1px solid $white;
      background: $black;
    }
    .link-button,
    button {
      color: $white;
    }
  }
}