@import './variables/colors.scss';
#theme-site {
  input {
    padding: 10px;
    border: 1px solid $dark-gray;
    border-radius: 3px;
  }
  input:focus {
    outline: none;
    border-color: $black;
  }
  &.dark {
    input {
      border-color: $white;
      background: $black;
    }
    input,
    input::placeholder {
      color: $white;
    }
  }
}
