/**
 * This is the main application stylesheet. It defines all global styles
 * For now only defining things needed on every pagrgbae
 * Styled-jsx is the alternative, but it is enormous
 */

// Components
@import './variables.scss';
@import './card/card.scss';
@import './buttons/buttons.scss';
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// @font-face {
//   font-family: 'Material Icons';
//   font-style: normal;
//   font-weight: 400;
//   src: url('/static/MaterialIcons-Regular.eot');
// }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

b,
strong {
  font-weight: $heavyFontWeight !important;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  &.link {
    text-transform: none; // background-color: inherit;
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

html,
::placeholder {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: 'antialiased';
  font-family: 'Raleway';
}

::placeholder {
  color: $light-gray;
  font-size: 14px;
  line-height: 1;
}

space {
  margin-left: 5px;
}

select {
  -webkit-appearance: none;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-size: 1rem;
}

.theme-site {
  margin: 0px;
  background-color: $white;
  color: $gray;
  .primary {
    color: $light-blue;
  }
  .accent {
    color: $red;
  }
  .error {
    color: $red;
  }
  a,
  .button,
  .icon-button {
    color: $gray;
    &:active {
      outline: none;
    }
    &:hover,
    &.is-active {
      color: $black;
      font-weight: $heavyFontWeight;
    }
    &.primary:hover {
      color: $blue;
    }
  }
  .material-icons {
    color: $gray;
  }
  .outlined-input {
    outline: none;
    border: 1px solid $light-gray;
    padding: 10px;
    margin-top: -10px;
    border-radius: 3px;
    &:focus {
      border-color: $black;
    }
  }
}

.theme-site.theme-dark {
  background-color: $black;
  color: $light-gray;
  a,
  .button,
  .icon-button {
    color: inherit;
    &:hover,
    &.is-active {
      color: $white;
    }
  }
  .material-icons {
    color: $white;
  }
}

.svg-icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
}

.button {
  padding: 8px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  min-height: 36px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-weight: 500;
  border-radius: 4px;
  text-transform: uppercase;
  border: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  justify-content: center;
  -moz-appearance: none;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.icon-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 0.85;
  flex: 0 0 auto;
  margin-left: 20px;
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  border: 0;
  margin: 0;
  display: inline-flex;
  outline: none;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  justify-content: center;
  -moz-appearance: none;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  &label {
    width: 20px;
    height: 20px;
    line-height: 0.85;
  }
}

#_app {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 54px * 2);
  align-items: center;
  padding: 10px;
}

.theme-site {
  #Header {
    #appBar {
      padding: 10px;
      display: flex;
      align-items: center;
      letter-spacing: 0.005em;
      text-transform: none;
      flex-direction: row;
      background-color: $white;
      position: sticky;
    }
    #home {
      @extend .icon-button;
    }
    .link-button {
      @extend .button;
      text-transform: none;
      padding: 0 15px 0 15px;
    }
  }
  &.theme-dark {
    #Header {
      #appBar {
        background-color: $black;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 56px;
  font-weight: 100;
}

h2 {
  font-size: 45px;
  font-weight: 100;
}

h3 {
  font-size: 34px;
  font-weight: 100;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.mdc-button {
  background: none;
  padding: 14px;
  font-size: 14px;
  border-radius: 3px;
  color: #428bca;
  border-color: #428bca;
  outline: none;
}

.mdc-button:hover {
  color: $black;
  border-color: $black;
}