/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

$defaultFontFamily: 'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$blue: #36465d;
$gray: #212121;
$light-gray: #a4a4a4;
$light-blue: #428bca;
$white: #ffffff;
$hero-height: 500px;
$narrow-hero-height: ($hero-height * 2/3);
$black: #000;
$red: #a54243;
$navbar-height: 52px;
$navbar-margin-bottom: 0px;
$headerMarginTopBottom: 20px;
$navbar-padding-horizontal: 10px;
$formWidth: 320px;
$buttonLeftRightPadding: 10px;
$xsFontSize: 12px;
$smallFontSize: 14px;
$mediumFontSize: 15px;
$largeFontSize: 18px;
$h1size: 36px;
$h2size: 30px;
$menuHeight: 50px;
$menuOffsetHeight: 2px; //not sure why this is necessary
$normalFontWeight: 400;
$mediumFontWeight: 500;
$heavyFontWeight: 700;