-c ../requirements.txt

flake8==4.0.1
mypy==0.950
pylint==2.13.5
pre-commit==2.18.1
black==22.3.0
curlylint==0.13.1
click==8.1.2
isort==5.10.1
pytest==7.1.1
pytest-html==1.20.0
pytest-xdist==2.2.1
pytest-instafail==0.4.2
sphinx==3.5.4
sphinx-autodoc-typehints==1.11.1
nbsphinx==0.8.8
sphinx_rtd_theme==0.4.2
jupyter==1.0.0
# importlib-metadata<4: in dev/requirements.txt, jupyter depends on (an unpinned) ipykernel which needs importlib-metadata<4
importlib-metadata<4
sphinxcontrib.katex==0.5.1
fswatch==0.1.1

# mypy library stubs
types-Deprecated
types-PyYAML
types-chardet
types-decorator
types-python-dateutil
types-requests
types-setuptools
types-six
types-tabulate
types-urllib3
