apiVersion: apps/v1
kind: Deployment
metadata:
  name: query
  labels:
    app: query
    hail.is/sha: "{{ code.sha }}"
spec:
  selector:
    matchLabels:
      app: query
  replicas: 1
  template:
    metadata:
      labels:
        app: query
        hail.is/sha: "{{ code.sha }}"
    spec:
      terminationGracePeriodSeconds: 28800  # 8 hours
      serviceAccountName: query
{% if deploy %}
      priorityClassName: production
{% endif %}
      containers:
        - name: query
          image: "{{ query_image.image }}"
          command:
{% if not deploy %}
           - /controller.sh
{% endif %}
           - python3
           - -m
           - query
          env:
           - name: HAIL_DOMAIN
             value: "{{ global.domain }}"
           - name: HAIL_DEPLOY_CONFIG_FILE
             value: /deploy-config/deploy-config.json
           - name: HAIL_DEFAULT_NAMESPACE
             value: "{{ default_ns.name }}"
           - name: HAIL_SHA
             value: "{{ code.sha }}"
           - name: HAIL_QUERY_WORKER_IMAGE
             value: {{ query_image.image }}
{% if deploy %}
           - name: HAIL_QUERY_BUCKET
             value: hail-query
{% else %}
           - name: HAIL_QUERY_BUCKET
             value: cpg-hail-test
{% endif %}
          ports:
           - containerPort: 5000
          volumeMounts:
           - name: deploy-config
             mountPath: /deploy-config
             readOnly: true
           - name: session-secret-key
             mountPath: /session-secret-key
             readOnly: true
           - name: ssl-config
             mountPath: /ssl-config
             readOnly: true
          resources:
            requests:
              memory: "3.75G"
              cpu: "800m"
            limits:
              memory: "3.75G"
              cpu: "1"
          readinessProbe:
            tcpSocket:
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
      volumes:
       - name: deploy-config
         secret:
           secretName: deploy-config
       - name: session-secret-key
         secret:
           secretName: session-secret-key
       - name: ssl-config
         secret:
           optional: false
           secretName: ssl-config-query
