{% extends "layout.html" %}
{% block title %}Batch Status{% endblock %}
{% block content %}
  <h1>Globals</h1>
  <div class="attributes">
    <form action="{{ base_path }}/config-update/globals" method="POST">
      <div>Instance ID: {{ instance_id }}</div>
      <div>Ready Cores: {{ ready_cores_mcpu / 1000 }}</div>
      {% if cloud == 'azure' %}
      <div>Spot Percent Increase (Example: 1.25): <input name="spot_percent_increase" value="{{ spot_percent_increase }}" /></div>
      {% endif %}
      <input type="hidden" name="_csrf" value="{{ csrf_token }}"/>
      <button>
        Update
      </button>
    </form>
  </div>

  <div>
    {% if not frozen %}
    <form action="{{ base_path }}/freeze" method="POST">
      <input type="hidden" name="_csrf" value="{{ csrf_token }}">
      <button class="dangerous">
        Freeze
      </button>
    </form>
    {% else %}
    <form action="{{ base_path }}/unfreeze" method="POST">
      <input type="hidden" name="_csrf" value="{{ csrf_token }}">
      <button class="dangerous">
        Unfreeze
      </button>
    </form>
    {% endif %}
  </div>

  <h1>Instance Collections</h1>

  <h2>Pools</h2>
  <table class="data-table" id="pools">
    <thead>
    <tr>
      <th>Name</th>
      <th>Worker Type</th>
      <th>Preemptible</th>
      <th>Pending</th>
      <th>Active</th>
      <th>Inactive</th>
      <th>Deleted</th>
      <th>Provisioned Cores</th>
      <th>Schedulable Cores</th>
    </tr>
    </thead>
    <tbody>
    {% for pool in pools %}
    <tr>
      <td><a href="{{ base_path }}/inst_coll/pool/{{ pool.name }}">{{ pool.name }}</a></td>
      <td>{{ pool.worker_type }}</td>
      <td>{{ pool.preemptible }}</td>
      <td class="numeric-cell">{{ pool.all_versions_instances_by_state['pending'] }}</td>
      <td class="numeric-cell">{{ pool.all_versions_instances_by_state['active'] }}</td>
      <td class="numeric-cell">{{ pool.all_versions_instances_by_state['inactive'] }}</td>
      <td class="numeric-cell">{{ pool.all_versions_instances_by_state['deleted'] }}</td>
      <td class="numeric-cell">{{ pool.all_versions_provisioned_cores_mcpu / 1000 }}</td>
      <td class="numeric-cell">{{ pool.current_worker_version_stats.live_free_cores_mcpu / 1000 }} / {{ pool.all_versions_provisioned_cores_mcpu / 1000 }} </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <h2>Job Private Instance Manager</h2>
  <table class="data-table" id="job-private-inst-manager">
    <thead>
    <tr>
      <th>Name</th>
      <th>Pending</th>
      <th>Active</th>
      <th>Inactive</th>
      <th>Deleted</th>
      <th>Provisioned Cores</th>
      <th>Schedulable Cores</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><a href="{{ base_path }}/inst_coll/jpim">{{ jpim.name }}</a></td>
      <td class="numeric-cell">{{ jpim.all_versions_instances_by_state['pending'] }}</td>
      <td class="numeric-cell">{{ jpim.all_versions_instances_by_state['active'] }}</td>
      <td class="numeric-cell">{{ jpim.all_versions_instances_by_state['inactive'] }}</td>
      <td class="numeric-cell">{{ jpim.all_versions_instances_by_state['deleted'] }}</td>
      <td class="numeric-cell">{{ jpim.all_versions_provisioned_cores_mcpu / 1000 }}</td>
      <td class="numeric-cell">{{ jpim.current_worker_version_stats.live_free_cores_mcpu / 1000 }} / {{ jpim.all_versions_provisioned_cores_mcpu / 1000 }} </td>
    </tr>
    </tbody>
  </table>

  <h1>Instances</h1>
  <div class="attributes">
    <div>Pending: {{ n_instances_by_state['pending'] }}</div>
    <div>Active: {{ n_instances_by_state['active'] }}</div>
    <div>Inactive: {{ n_instances_by_state['inactive'] }}</div>
    <div>Deleted: {{ n_instances_by_state['deleted'] }}</div>
    <div>Total provisioned cores: {{ total_provisioned_cores_mcpu / 1000 }}</div>
    <div>Total schedulable cores: {{ live_free_cores_mcpu / 1000 }} / {{ total_provisioned_cores_mcpu / 1000 }}</div>
  </div>
  <table class="data-table" id="instances">
    <thead>
      <tr>
        <th>Name</th>
        <th>Instance Collection</th>
        <th>Location</th>
        <th>Version</th>
        <th>State</th>
        <th>Free Cores</th>
        <th>Failed Requests</th>
        <th>Time Created</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for instance in instances %}
      <tr>
        <td>{{ instance.name }}</td>
        <td>{{ instance.inst_coll.name }}</td>
        <td>{{ instance.location }}</td>
        <td class="numeric-cell">{{ instance.version }}</td>
        <td>{{ instance.state }}</td>
        <td class="numeric-cell">{{ instance.free_cores_mcpu / 1000 }} / {{ instance.cores_mcpu / 1000 }}</td>
        <td class="numeric-cell">{{ instance.failed_request_count }}</td>
        <td>{{ instance.time_created_str() }}</td>
        <td>{{ instance.last_updated_str() }} ago</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
