{% extends "layout.html" %}
{% block title %}Quotas{% endblock %}
{% block content %}

<h1>Quotas by Region</h1>
{% if plot_json is not none %}
<div id="plotly-timeseries" data-graph='{{ plot_json | safe}}'></div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script defer src="{{ base_path }}/batch_driver/static/js/quotas.js"></script>

<style>
    .header-dropdown {
        display: block;
        overflow: visible;
        position: relative;
        z-index: 10000;
    }
</style>
{% else %}
<div><p>Data is not available.</p></div>
{% endif %}
{% endblock %}
