{% from "table_search.html" import table_search with context %}
{% extends "layout.html" %}
{% block title %}Batch {{ batch['id'] }}{% endblock %}
{% block head %}
  <script src="{{ base_path }}/common_static/focus_on_keyup.js"></script>
{% endblock %}
{% block content %}

<h1>Batch {{ batch['id'] }}</h1>

<h2>Properties</h2>
<ul>
  <li>User: {{ batch['user'] }}</li>
  <li>Billing Project: {{ batch['billing_project'] }}</li>
  <li>Time Created: {% if 'time_created' in batch and batch['time_created'] is not none %}{{ batch['time_created'] }}{% endif %}</li>
  <li>Time Completed: {% if 'time_completed' in batch and batch['time_completed'] is not none %}{{ batch['time_completed'] }}{% endif %}</li>
  <li>Total Jobs: {{ batch['n_jobs'] }}</li>
  <ul>
    <li><a href="{{ base_path }}/batches/{{ batch['id'] }}?q=pending">Pending</a>
      + <a href="{{ base_path }}/batches/{{ batch['id'] }}?q=running">Running</a> Jobs: {{ batch['n_jobs'] - batch['n_completed'] }}</li>
    <li><a href="{{ base_path }}/batches/{{ batch['id'] }}?q=success">Succeeded</a> Jobs: {{ batch['n_succeeded'] }}</li>
    <li><a href="{{ base_path }}/batches/{{ batch['id'] }}?q=failed">Failed</a> Jobs: {{ batch['n_failed'] }}</li>
    <li><a href="{{ base_path }}/batches/{{ batch['id'] }}?q=cancelled">Cancelled</a> Jobs: {{ batch['n_cancelled'] }}</li>
  </ul>
  <li>Duration: {% if 'duration' in batch and batch['duration'] is not none %}{{ batch['duration'] }}{% endif %}</li>
  <li>Cost: {% if 'cost' in batch and batch['cost'] is not none %}{{ batch['cost'] }}{% endif %}</li>
</ul>

{% if not batch['complete'] and batch['state'] != 'Cancelled' %}
<form action="{{ base_path }}/batches/{{ batch['id'] }}/cancel" method="post">
  <input type="hidden" name="_csrf" value="{{ csrf_token }}"/>
  {% if q is not none %}
  <input type="hidden" name="q" value="{{ q }}"/>
  {% endif %}
  <button>Cancel</button>
</form>
{% endif %}

<h2>Attributes</h2>
{% if 'attributes' in batch %}
{% for name, value in batch['attributes'].items() %}
<p>{{ name }}: {{ value }}</p>
{% endfor %}
{% endif %}

<h2>Cost Breakdown</h2>
{% if batch['cost_breakdown'] %}
<table class="data-table">
  <thead>
    <tr>
      <th>Resource</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    {% for resource_cost in batch['cost_breakdown'] %}
    <tr>
      <td>{{ resource_cost['resource'] }}</td>
      <td>{{ resource_cost['cost'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No accrued costs</p>
{% endif %}

<h2>Jobs</h2>
<div class="flex-col">
  {{ table_search("job-search", base_path ~ "/batches/" ~ batch["id"]) }}
  <div class='flex-col' style="overflow: auto;">
    <table class="data-table" id="batch" style="width: 100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>State</th>
          <th>Exit Code</th>
          <th>Duration</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
        {% for job in batch['jobs'] %}
        <tr>
          <td class="numeric-cell">
            <a class="fill-td" href="{{ base_path }}/batches/{{ job['batch_id'] }}/jobs/{{ job['job_id'] }}">{{ job['job_id'] }}</a>
          </td>
          <td>
            {% if 'name' in job and job['name'] is not none %}
            {{ job['name'] }}
            {% endif %}
          </td>
          <td>{{ job['state'] }}</td>
          <td>
            {% if 'exit_code' in job and job['exit_code'] is not none %}
            {{ job['exit_code'] }}
            {% endif %}
          </td>
          <td>
            {% if 'duration' in job and job['duration'] is not none %}
            {{ job['duration'] }}
            {% endif %}
          </td>
          <td>
            {% if 'cost' in job and job['cost'] is not none %}
            {{ job['cost'] }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if last_job_id is not none %}
  <form method="GET" action="{{ base_path }}/batches/{{ batch['id'] }}">
    {% if q is not none %}
    <input type="hidden" name="q" value="{{ q }}" />
    {% endif %}
    <input type="hidden" name="last_job_id" value="{{ last_job_id }}" />
    <button>Next page</button>
  </form>
  {% endif %}
</div>
{% endblock %}
