{% extends "layout.html" %}
{% block title %}Batch {{ batch_id }} Job {{ job_id }}{% endblock %}
{% block content %}
<h1>Batch {{ batch_id }} Job {{ job_id }}</h1>

<h2>Properties</h2>
<ul>
  <li><a href="{{ base_path }}/batches/{{ batch_id }}">Batch ID: {{ batch_id }}</a></li>
  <li>Job ID: {{ job_id }}</li>
  <li>User: {{ job['user'] }} </li>
  <li>Billing Project: {{ job['billing_project'] }}</li>
  <li>State: {{ job['state'] }}</li>
  <li>Exit Code: {% if 'exit_code' in job and job['exit_code'] is not none %}{{ job['exit_code'] }}{% endif %}</li>
  <li>Duration: {% if 'duration' in job and job['duration'] is not none %}{{ job['duration'] }}{% endif %}</li>
  <li>Cost: {% if 'cost' in job and job['cost'] is not none %}{{ job['cost'] }}{% endif %}</li>
</ul>

<h2>Attempts</h2>
{% if attempts %}
<table class="data-table">
  <thead>
    <tr>
      <th>Attempt ID</th>
      <th>Instance</th>
      <th>Start</th>
      <th>End</th>
      <th>Duration</th>
      <th>Reason</th>
    </tr>
  </thead>
  <tbody>
    {% for attempt in attempts %}
    <tr>
      <td class="numeric-cell">{{ attempt['attempt_id'] }}</td>
      <td>{{ attempt['instance_name'] }}</td>
      <td>
        {% if 'start_time' in attempt and attempt['start_time'] is not none %}
        {{ attempt['start_time'] }}
        {% endif %}
      </td>
      <td>
        {% if 'end_time' in attempt and attempt['end_time'] is not none %}
        {{ attempt['end_time'] }}
        {% endif %}
      </td>
      <td>
        {% if 'duration' in attempt and attempt['duration'] is not none %}
        {{ attempt['duration'] }}
        {% endif %}
      </td>
      <td>
        {% if 'reason' in attempt and attempt['reason'] is not none %}
        {{ attempt['reason'] }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No attempts</p>
{% endif %}

<!-- Import Plotly (does not have to be from CDN) -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="plotly-timeseries"></div>
<script>
var graph = {{ plot_json | safe }};
Plotly.plot('plotly-timeseries', graph, {});
</script>






<h2>Step Status DOG</h2>
<section class="progress_bar">
  {% for step in step_statuses %}
    {% if step %}
      {% for name, timing in step['timing'].items() %}
        {% if 'duration' in timing and timing['duration'] is not none %}
  <div class="main">
    <div class="bar" style="width:{{timing['duration']/100}}px">
      <div class="textbox">
        <div class="mainText"> {{ step['name']}} {{name}}</div>
      </div>
    </div>
  </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</section>

<table class="data-table">
  <thead>
    <tr>
      <th>Job Step</th>
      <th>Image Pulling Time (s)</th>
      <th>Running Time (s)</th>
      <th>Error Type</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {% for step in step_statuses %}
    {% if step %}
    <tr>
      <td>{{ step['name'] }}</td>
      <td>
        {% if step['timing']['pulling'] and step['timing']['pulling']['duration'] %}
        {{ step['timing']['pulling']['duration'] / 1000.0 }}
        {% endif %}
      </td>
      <td>
        {% if step['timing']['running'] and step['timing']['running']['duration'] %}
        {{ step['timing']['running']['duration'] / 1000.0 }}
        {% endif %}
      </td>
      {% if step['short_error'] is not none %}
      <td class="data-table-bad" >{{ step['short_error'] }}</td>
      {% else %}
      <td></td>
      {% endif %}
      <td {% if step['state'] in ['failed', 'error'] %}class="data-table-bad"{% endif %}>
        {{ step['state'] }}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% if job_log %}
<h2>Log</h2>

{% if 'input' in job_log %}
<h3>Input</h3>
<pre>{{ job_log['input'] }}</pre>
{% endif %}

{% if 'main' in job_log %}
<h3>Main</h3>
<pre>{{ job_log['main'] }}</pre>
{% endif %}

{% if 'output' in job_log %}
<h3>Output</h3>
<pre>{{ job_log['output'] }}</pre>
{% endif %}
{% endif %}

<h2>Job Specification</h2>
<table class="data-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  {% if job_specification %}
  <tbody>
    <tr>
      <td>image</td>
      <td>{{ job_specification['image'] }}</td>
    </tr>
    <tr>
      <td>command</td>
      <td><pre style="max-height: 10em; max-width: 80em;">{{ "'" + (job_specification['command'] | join("' '")) + "'" }}</pre></td>
    </tr>
    {% for resource, value in job_specification['resources'].items() %}
    <tr>
      <td>{{ resource }}</td>
      <td>{{ value }}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>

<h2>Job Environment Variables</h2>
<table class="data-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  {% if job_specification %}
  <tbody>
    {% for envvar in job_specification['env'] %}
    <tr>
      <td>{{ envvar['name'] }}</td>
      <td>{{ envvar['value'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>

<h2>Status</h2>
<pre>{{ job_status_str }}</pre>
{% endblock %}
