{% extends "layout.html" %}
{% block title %}Batch {{ batch_id }} Job {{ job_id }}{% endblock %}
{% block content %}
<h1>Batch {{ batch_id }} Job {{ job_id }}</h1>

<h2>Properties</h2>
<ul>
  <li><a href="{{ base_path }}/batches/{{ batch_id }}">Batch ID: {{ batch_id }}</a></li>
  <li>Job ID: {{ job_id }}</li>
  <li>User: {{ job['user'] }} </li>
  <li>Billing Project: {{ job['billing_project'] }}</li>
  <li>State: {{ job['state'] }}</li>
  <li>Exit Code: {% if 'exit_code' in job and job['exit_code'] is not none %}{{ job['exit_code'] }}{% endif %}</li>
  <li>Duration: {% if 'duration' in job and job['duration'] is not none %}{{ job['duration'] }}{% endif %}</li>
  <li>Cost: {% if 'cost' in job and job['cost'] is not none %}{{ job['cost'] }}{% endif %}</li>
</ul>

<h2>Attempts</h2>
{% if attempts %}
<table class="data-table">
  <thead>
    <tr>
      <th>Attempt ID</th>
      <th>Instance</th>
      <th>Start</th>
      <th>End</th>
      <th>Duration</th>
      <th>Reason</th>
    </tr>
  </thead>
  <tbody>
    {% for attempt in attempts %}
    <tr>
      <td class="numeric-cell">{{ attempt['attempt_id'] }}</td>
      <td>{{ attempt['instance_name'] }}</td>
      <td>
        {% if 'start_time' in attempt and attempt['start_time'] is not none %}
        {{ attempt['start_time'] }}
        {% endif %}
      </td>
      <td>
        {% if 'end_time' in attempt and attempt['end_time'] is not none %}
        {{ attempt['end_time'] }}
        {% endif %}
      </td>
      <td>
        {% if 'duration' in attempt and attempt['duration'] is not none %}
        {{ attempt['duration'] }}
        {% endif %}
      </td>
      <td>
        {% if 'reason' in attempt and attempt['reason'] is not none %}
        {{ attempt['reason'] }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No attempts</p>
{% endif %}

<h2>Step Status</h2>

{% if plot_job_durations is not none %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id="plotly-job-durations"></div>
<script>
  var graph = {{ plot_job_durations | safe }};
  Plotly.plot('plotly-job-durations', graph, {});
</script>
{% endif %}

<table class="data-table">
  <thead>
    <tr>
      <th>Job Step</th>
      <th>Image Pulling Time (s)</th>
      <th>Running Time (s)</th>
      <th>Error Type</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {% for name, step in container_statuses.items() %}
    {% if step %}
    <tr>
      <td>{{ name }}</td>
      <td>
        {% if step['timing']['pulling'] and step['timing']['pulling']['duration'] %}
        {{ step['timing']['pulling']['duration'] / 1000.0 }}
        {% endif %}
      </td>
      <td>
        {% if step['timing']['running'] and step['timing']['running']['duration'] %}
        {{ step['timing']['running']['duration'] / 1000.0 }}
        {% endif %}
      </td>
      {% if step['short_error'] is not none %}
      <td class="data-table-bad">{{ step['short_error'] }}</td>
      {% else %}
      <td></td>
      {% endif %}
      <td {% if step['state'] in ['failed', 'error'] %}class="data-table-bad" {% endif %}>
        {{ step['state'] }}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% if plot_resource_usage is not none %}
<h2>Resource Usage</h2>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id="plotly-job-resource-usage"></div>
<script>
  var graph = {{ plot_resource_usage | safe }};
  Plotly.plot('plotly-job-resource-usage', graph, {});
</script>
{% endif %}

{% if has_jvm_profile %}
<h2>JVM Profile Report</h2>
<a href="{{ base_path }}/batches/{{ batch_id }}/jobs/{{ job_id }}/jvm_profile">Report</a>
{% endif %}

{% if error is not none %}
<h2>Error</h2>
<pre>{{ error }}</pre>
{% endif %}

{% if job_log or step_errors %}
<h2>Logs</h2>

{% if 'input' in job_log or 'input' in step_errors %}
<h3>Input</h3>
{% if 'input' in job_log %}
<h4>Log
    <a href="{{ base_path }}/batches/{{ batch_id }}/jobs/{{ job_id }}/log/input" download="batch-{{ batch_id }}-{{ job_id }}-input.log">
        <i class="fa fa-download" aria-hidden="true"></i>
    </a>
</h4>
{% if 'input' in possibly_truncated_logs %}
<b>Log too long to display. <a href="{{ base_path }}/batches/{{ batch_id }}/jobs/{{ job_id }}/log/input" download="batch-{{ batch_id }}-{{ job_id }}-input.log">Download the full log</a></b>
{% endif %}
<pre>{{ job_log['input'] }}</pre>
{% endif %}
{% if 'input' in step_errors and step_errors['input'] is not none %}
<h4>Error</h4>
<pre>{{ step_errors['input'] }}</pre>
{% endif %}
{% endif %}

{% if 'main' in job_log or 'main' in step_errors %}
<h3>Main</h3>
{% if 'main' in job_log %}
<h4>Log
    <a href="{{ base_path }}/batches/{{ batch_id }}/jobs/{{ job_id }}/log/main" download="batch-{{ batch_id }}-{{ job_id }}-main.log">
        <i class="fa fa-download" aria-hidden="true"></i>
    </a>
</h4>
{% if 'main' in possibly_truncated_logs %}
<b>Log too long to display. <a href="{{ base_path }}/batches/{{ batch_id }}/jobs/{{ job_id }}/log/main" download="batch-{{ batch_id }}-{{ job_id }}-main.log">Download the full log</a></b>
{% endif %}
<pre>{{ job_log['main'] }}</pre>
{% endif %}
{% if 'main' in step_errors and step_errors['main'] is not none %}
<h4>Error</h4>
<pre>{{ step_errors['main'] }}</pre>
{% endif %}
{% endif %}

{% if 'output' in job_log or 'output' in step_errors %}
<h3>Output</h3>
{% if 'output' in job_log %}
<h4>Log
    <a href="{{ base_path }}/batches/{{ batch_id }}/jobs/{{ job_id }}/log/output" download="batch-{{ batch_id }}-{{ job_id }}-output.log">
        <i class="fa fa-download" aria-hidden="true"></i>
    </a>
</h4>
{% if 'output' in possibly_truncated_logs %}
<b>Log too long to display. <a href="{{ base_path }}/batches/{{ batch_id }}/jobs/{{ job_id }}/log/output" download="batch-{{ batch_id }}-{{ job_id }}-output.log">Download the full log</a></b>
{% endif %}
<pre>{{ job_log['output'] }}</pre>
{% endif %}
{% if 'output' in step_errors and step_errors['output'] is not none %}
<h4>Error</h4>
<pre>{{ step_errors['output'] }}</pre>
{% endif %}
{% endif %}

{% endif %}

<h2>Job Specification</h2>
<table class="data-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  {% if job_specification %}
  <tbody>
    <tr>
      <td>image</td>
      <td>{{ job_specification['image'] }}</td>
    </tr>
    {% if 'user_code' in job_specification %}
    <tr>
      <td>user code</td>
      <td>
        <pre style="max-height: 10em; max-width: 80em;">{{ job_specification['user_code'] }}</pre>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td>command</td>
      <td>
        <pre
          style="max-height: 10em; max-width: 80em;">{{ "'" + (job_specification['command'] | join("' '")) + "'" }}</pre>
      </td>
    </tr>
    {% for resource, value in job_specification['resources'].items() %}
    <tr>
      <td>{{ resource }}</td>
      <td>{{ value }}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>

<h2>Job Environment Variables</h2>
<table class="data-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  {% if job_specification %}
  <tbody>
    {% for envvar in job_specification['env'] %}
    <tr>
      <td>{{ envvar['name'] }}</td>
      <td>{{ envvar['value'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>

<h2>Status</h2>
<pre>{{ job_status_str }}</pre>
{% endblock %}
