{% extends "layout.html" %}
{% block title %}Batch {{ batch_id }} Job {{ job_id }}{% endblock %}
{% block head %}
<script type="module" src="{{ base_path }}/batch/static/compiled-js/job.js"></script>
{% endblock %}
{% block content %}
<div id="job-details-root"
  data-base-path="{{ base_path }}"
  data-batch-id="{{ batch_id }}"
  data-job-id="{{ job_id }}"
  data-disable-react-url="{{ base_path }}/disable-react-ui?next={{ base_path }}/batches/{{ batch_id }}/jobs/{{ job_id }}">
  <div class="flex items-center justify-center mt-24">
    <span class="text-5xl font-light text-sky-600">Loading&hellip;</span>
  </div>
</div>
{% endblock %}
