@import "./variables/colors.scss";
@import "./variables/margins.scss";

#theme-site {
  a {
    color: $black;
    text-decoration: none;
    &.active,
    &:hover {
      color: $devil-gray;
    }
  }

  button {
    outline: none;
    border: 1px solid $black;
    background-color: $white;
    padding: $margin * 2 / 3;
    border-radius: 3px;
    &:focus,
    &:hover {
      border-color: $devil-gray;
    }

    &.material-icons {
      border: none;
    }
  }

  .link-button,
  button {
    cursor: pointer;
    color: $black;
    &:focus,
    &:hover {
      color: $devil-gray;
    }
  }

  &.dark {
    a {
      color: $white;
      background-color: $black;
    }
    button {
      border-color: $white;
      background: $black;
    }
    .link-button,
    button {
      color: $white;
    }
  }
}
