# hailtop is installed in every service so we must be compatible with it
-c ../hail/python/hailtop/pinned-requirements.txt
# ci-utils includes gear and is used by test_dataproc which installs hail ergo we must be compatible
# with hail
-c ../hail/python/pinned-requirements.txt
# dev is installed in the batch tests
-c ../hail/python/dev/pinned-requirements.txt

aiohttp_session>=2.7,<2.13
aiomysql>=0.0.20,<1
google-cloud-profiler<4.0.0
kubernetes-asyncio>=19.15.1,<20
prometheus_async>=19.2.0,<20
prometheus_client>=0.11.0,<1
PyMySQL>=1,<2
sortedcontainers>=2.4.0,<3
orjson>=3.6.4,<4
aiohttp>=3.9.2 # not directly required, pinned by Snyk to avoid a vulnerability
