python/.eggs
python/README.md
python/dist
python/hail.egg-info
python/hail/backend/hail-all-spark.jar
python/hail/hail_revision
python/hail/hail_pip_version
python/hail/docs/change_log.rst
python/hail/docs/_build/*
python/hail/docs/_static/hail_version.js
python/hailtop/hailctl/deploy.yaml
python/hail/docs/genetics/hail.genetics.Call.rst
python/hail/docs/genetics/hail.genetics.Locus.rst
python/hail/docs/genetics/hail.genetics.Pedigree.rst
python/hail/docs/genetics/hail.genetics.ReferenceGenome.rst
python/hail/docs/genetics/hail.genetics.Trio.rst
python/hail/docs/hail.GroupedMatrixTable.rst
python/hail/docs/hail.GroupedTable.rst
python/hail/docs/hail.MatrixTable.rst
python/hail/docs/hail.Table.rst
python/hail/docs/hail.expr.ArrayExpression.rst
python/hail/docs/hail.expr.ArrayNumericExpression.rst
python/hail/docs/hail.expr.BooleanExpression.rst
python/hail/docs/hail.expr.CallExpression.rst
python/hail/docs/hail.expr.CollectionExpression.rst
python/hail/docs/hail.expr.DictExpression.rst
python/hail/docs/hail.expr.Expression.rst
python/hail/docs/hail.expr.Float32Expression.rst
python/hail/docs/hail.expr.Float64Expression.rst
python/hail/docs/hail.expr.Int32Expression.rst
python/hail/docs/hail.expr.Int64Expression.rst
python/hail/docs/hail.expr.IntervalExpression.rst
python/hail/docs/hail.expr.LocusExpression.rst
python/hail/docs/hail.expr.NDArrayExpression.rst
python/hail/docs/hail.expr.NDArrayNumericExpression.rst
python/hail/docs/hail.expr.NumericExpression.rst
python/hail/docs/hail.expr.SetExpression.rst
python/hail/docs/hail.expr.StringExpression.rst
python/hail/docs/hail.expr.StructExpression.rst
python/hail/docs/hail.expr.TupleExpression.rst
python/hail/docs/linalg/hail.linalg.BlockMatrix.rst
python/hail/docs/stats/hail.stats.LinearMixedModel.rst
python/hail/docs/functions/hail.expr.builders.CaseBuilder.rst
python/hail/docs/functions/hail.expr.builders.SwitchBuilder.rst
src/main/c/.cxx.vsn
src/main/c/headers
src/main/c/lib
src/main/c/libsimdpp-2*
src/main/resources/build-info.properties
src/main/resources/include/catch.hpp
src/test/resources/example.8bits.bgen.idx*
src/test/resources/example.v11.bgen.idx*
src/test/resources/parallelBgenExport.bgen/part-00000.idx*
src/test/resources/random-*.bgen.idx*
src/test/resources/random.bgen.idx*
src/test/resources/skip_invalid_loci.bgen.idx*
env/
www/docs
