python/**/*.pyc
python/README.md
python/dist
python/src/hail.egg-info
python/src/hail/hail_pip_version
python/src/hail/hail_version
python/src/hail/docs/_build/*
python/src/hail/hail-all-spark.jar
src/main/c/.cxx.vsn
src/main/c/headers
src/main/c/lib
src/main/c/libsimdpp-2*
src/main/resources/build-info.properties
src/test/resources/example.8bits.bgen.idx*
src/test/resources/example.v11.bgen.idx*
src/test/resources/parallelBgenExport.bgen/part-00000.idx*
src/test/resources/random-*.bgen.idx*
src/test/resources/random.bgen.idx*
src/test/resources/skip_invalid_loci.bgen.idx*
