<suite name="SuiteAll" verbose="1">
    <test name="TestAll">  
        <packages>  
          <package name="is.hail.*">
            <exclude name="is.hail.scheduler"></exclude>
            <exclude name="is.hail.backend.distributed"></exclude>
	  </package>
        </packages>
    </test>
</suite>
