<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="csrf" value="{{ csrf_token }}" />
    <meta name="base-path" value="{{ base_path }}" />
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/common_static/lib/swagger/swagger-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/common_static/lib/swagger/index.css" />
    <link rel="icon" type="image/png" href="{{ base_path }}/common_static/lib/swagger/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ base_path }}/common_static/lib/swagger/favicon-16x16.png" sizes="16x16" />
  </head>

  <body>
    <div id="swagger-ui"></div>
    <script src="{{ base_path }}/common_static/lib/swagger/swagger-ui-bundle.js" charset="UTF-8"> </script>
    <script src="{{ base_path }}/common_static/lib/swagger/swagger-ui-standalone-preset.js" charset="UTF-8"> </script>
    <script defer src="{{ base_path }}/common_static/js/swagger/index.js"></script>
  </body>
</html>
