<html lang="en">
  <head>
  </head>
  <body>
    <p>{{ email }} | <a href="/logout">logout</a></p>
    
    {% if page_items|length > 0 %}
    <table>
      <thead>
        <tr>
          <th align="left">time</th>
          <th align="left">email</th>
          <th align="left">type</th>
          <th align="left">config</th>
          <th align="left">preview</th>
        </tr>
      </thead>
      <tbody>
        {% for item in page_items %}
        <tr>
          <td>{{ item.timestamp }}</td>
          <td>{{ item.email() }}</td>
          <td>{{ item.typ() }}</td>
          <td><a href="/items/{{ item.id }}/config">{{ item.hail_version() }}</a></td>
          <td><a href="/items/{{ item.id }}/contents"><pre>{{ item.preview() }}</pre></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <p>Showing {{ page_items|length }} of {{ n_items }}.</p>
    {% else %}
    <p>No items.</p>
    {% endif %}
  </body>
</html>
