{% extends "layout.html" %}
{% block title %}Batch {{ batch['id'] }}{% endblock %}
{% block head %}
    <script src="{{ base_path }}/common_static/search_bar.js"></script>
{% endblock %}
{% block content %}
  <h1>Batch {{ batch['id'] }}</h1>
  {% if 'attributes' in batch %}
  {% for name, value in batch['attributes'].items() %}
  <p>{{ name }}: {{ value }}</p>
  {% endfor %}
  {% endif %}
  <h2>Jobs</h2>
  <div class="searchbar-table">
    <input size=30 type="text" id="searchBar" onkeyup="searchTable('batch', 'searchBar')" placeholder="Search terms...">
    <table class="data-table" id="batch">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>State</th>
          <th>Exit Code</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        {% for job in batch['jobs'] %}
        <tr>
          <td class="numeric-cell">
	    <a href="{{ base_path }}/batches/{{ job['batch_id'] }}/jobs/{{ job['job_id'] }}">{{ job['job_id'] }}</a>
	  </td>
          <td>
            {% if 'attributes' in job and 'name' in job['attributes'] and job['attributes']['name'] is not none %}
            {{ job['attributes']['name'] }}
            {% endif %}
          </td>
          <td>{{ job['state'] }}</td>
          <td>
	    {% if 'exit_code' in job and job['exit_code'] is not none %}
	      {{ job['exit_code'] }}
	    {% endif %}
	  </td>
          <td>
	    {% if 'duration' in job and job['duration'] is not none %}
	      {{ job['duration'] }}
	    {% endif %}
	  </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script type="text/javascript">
    document.getElementById("searchBar").focus();
  </script>
{% endblock %}
