{% extends "layout.html" %}
{% block title %}Batches{% endblock %}
{% block head %}
    <script src="{{ base_path }}/common_static/search_bar.js"></script>
{% endblock %}
{% block content %}
  <h1>Batches</h1>
  <div class="searchbar-table">
    <input size=30 type="text" id="searchBar" onkeyup="searchTable('batches', 'searchBar')" placeholder="Search terms...">
    <table class="data-table" id="batches">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        {% for batch in batch_list %}
        <tr>
          <td class="numeric-cell"><a href="{{ base_path }}/batches/{{ batch['id'] }}">{{ batch['id'] }}</a></td>
          <td>
            {% if 'attributes' in batch and 'name' in batch['attributes'] and batch['attributes']['name'] is not none %}
            {{ batch['attributes']['name'] }}
            {% endif %}
          </td>
          <td>{{ batch['state'] }}</td>
          {% if not batch['complete'] and batch['state'] != 'Cancelled' %}
            <td>
              <form action="{{ base_path }}/batches/{{ batch['id'] }}/cancel" method="post">
                <input type="hidden" name="_csrf" value="{{ token }}"/>
                <button>Cancel</button>
              </form>
            </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script type="text/javascript">
      document.getElementById("searchBar").focus();
    </script>
  </div>
{% endblock %}
