{% extends "layout.html" %}
{% block title %}Batch {{ batch['id'] }}{% endblock %}
{% block head %}
    <script src="{{ base_path }}/common_static/search_bar.js"></script>
{% endblock %}
{% block content %}
  <h1>Batch {{ batch['id'] }}</h1>
  {% if 'attributes' in batch %}
  {% for name, value in batch['attributes'].items() %}
  <p>{{ name }}: {{ value }}</p>
  {% endfor %}
  {% endif %}
  <h2>Jobs</h2>
  <div class="searchbar-table">
    <input size=30 type="text" id="searchBar" onkeyup="searchTable('batch', 'searchBar')" placeholder="Search terms...">
    <div class="data-table" role="grid">
      <div class="headerrow" role="row">
        <div class="headercell" role="gridcell">ID</div>
        <div class="headercell" role="gridcell">Name</div>
        <div class="headercell" role="gridcell">State</div>
        <div class="headercell" role="gridcell">Exit Code</div>
        <div class="headercell" role="gridcell">Duration</div>
        <div class="headercell" role="gridcell">Cost</div>
      </div>
      {% for job in batch['jobs'] %}
      <a class="row" role="row" href="{{ base_path }}/batches/{{ job['batch_id'] }}/jobs/{{ job['job_id'] }}">
        <div class="numeric-cell" role="gridcell">{{ job['job_id'] }}</div>
        <div class="cell" role="gridcell">{{ job['attributes']['name'] }}</div>
        <div class="cell" role="gridcell">{{ job['state'] }}</div>
        <div class="cell" role="gridcell">
          {% if 'exit_code' in job and job['exit_code'] is not none %}
          {% if job['exit_code'] == 0 %}
          <span style="color: #55aa33;">
            Success 🎉
            {% else %}
            <span style="color: #a93333;">
              Failure 🤷‍♀️
              {% endif %}
              ({{ job['exit_code'] }})
            </span>
            {% endif %}
        </div>
        <div class="cell" role="gridcell">
            {% if 'duration' in job and job['duration'] is not none %}
            {{ job['duration'] }}
            {% endif %}
        </div>
        <div class="cell" role="gridcell">
            {% if 'cost' in job and job['cost'] is not none %}
              {{ job['cost'] }}
            {% endif %}
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <script type="text/javascript">
    document.getElementById("searchBar").focus();
  </script>
{% endblock %}
