*.err
*.log
*.pid
*.pyc
*~
.cache
.pytest_cache
__pycache__
batch-proxy.log
batch-proxy.pid
gcloud-token
github-tokens/user1
github-tokens/user2
hail-is/
oauth-token
proxy.log
proxy.pid
/hail-ci-image
/deployment.yaml
