<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <h2>Jobs</h2>
    <table>
      <tr><th>ID</th></tr>
      {% for batch in batch_list %}
      <tr>
        <td><a href="/batches/{{batch.id}}">{{batch.id}}</a></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
