<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <script src="/js/search_bar.js"></script>
  <body>
    <h1>Batches</h1>
    <input type="text" id="searchBar" onkeyup="searchTable('batches', 'searchBar')" placeholder="Search terms...">
    <table id="batches">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>State</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for batch in batch_list %}
        <tr>
          <td><a href="/batches/{{ batch['id'] }}">{{ batch['id'] }}</a></td>
          <td>
            {% if 'attributes' in batch and 'name' in batch['attributes'] and batch['attributes']['name'] is not none %}
            {{ batch['attributes']['name'] }}
            {% endif %}
          </td>
          <td>{{ batch['state'] }}</td>
          <td>
            {% if not batch['complete'] %}
            <form action="/batches/{{ batch['id'] }}/cancel" method="post">
              <input type="hidden" name="_csrf" value="{{ token }}"/>
              <input type="submit" value="Cancel">
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
  <script type="text/javascript">
    document.getElementById("searchBar").focus();
  </script>
</html>
