<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <script src="/js/search_bar.js"></script>
  <body>
    <h1>Batch {{ batch['id'] }}</h1>
    {% if 'attributes' in batch %}
    {% for name, value in batch['attributes'].items() %}
    <p>{{ name }}: {{ value }}</p>
    {% endfor %}
    {% endif %}
    <h2>Jobs</h2>
    <input type="text" id="searchBar" onkeyup="searchTable('batch', 'searchBar')" placeholder="Search terms...">
    <table id="batch">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>State</th>
          <th>Exit Code</th>
          <th>Duration</th>
          <th>Log</th>
          <th>Pod Status</th>
        </tr>
      </thead>
      <tbody>
        {% for job in batch['jobs'] %}
        <tr>
          <td>{{ job['job_id'] }}</td>
          <td>
            {% if 'attributes' in job and 'name' in job['attributes'] and job['attributes']['name'] is not none %}
            {{ job['attributes']['name'] }}
            {% endif %}
          </td>
          <td>{{ job['state'] }}</td>
          <td>{{ job['exit_code'] }}</td>
          <td>{{ job['duration'] }}</td>
          <td><a href="/batches/{{ job['batch_id'] }}/jobs/{{ job['job_id'] }}/log">log</a></td>
          <td><a href="/batches/{{ job['batch_id'] }}/jobs/{{ job['job_id'] }}/pod_status">pod_status</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
  <script type="text/javascript">
    document.getElementById("searchBar").focus();
  </script>
</html>
