{% extends "layout.html" %}
{% block title %}Batch {{ batch_id }} Job {{ job_id }} Log{% endblock %}
{% block content %}
    <h1>Batch {{ batch_id }} Job {{ job_id }} Log</h1>
    
    {% if 'setup' in job_log %}
    <h1>Setup</h1>
    <pre>{{ job_log['setup'] }}</pre>
    {% endif %}
    
    {% if 'main' in job_log %}
    <h1>Main</h1>
    <pre>{{ job_log['main'] }}</pre>
    {% endif %}
    
    {% if 'cleanup' in job_log %}
    <h1>Cleanup</h1>
    <pre>{{ job_log['cleanup'] }}</pre>
    {% endif %}
{% endblock %}
