{% extends "layout.html" %}
{% block title %}Batch {{ batch_id }} Job {{ job_id }} Log{% endblock %}
{% block content %}
    <h4>Batch {{ batch_id }} Job {{ job_id }} Log</h4>
    
    {% if 'setup' in job_log %}
    <h5>Setup</h5>
    <pre>{{ job_log['setup'] }}</pre>
    {% endif %}
    
    {% if 'main' in job_log %}
    <h5>Main</h5>
    <pre>{{ job_log['main'] }}</pre>
    {% endif %}
    
    {% if 'cleanup' in job_log %}
    <h5>Cleanup</h5>
    <pre>{{ job_log['cleanup'] }}</pre>
    {% endif %}
{% endblock %}
