<html lang="en">
  <head>
    <title>Batch: Recent Events</title>
    <style type="text/css">
      h2 { font-size: 1.2em; }
      .log { margin-left: 1em; }
      body {
	  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      }
    </style>
  </head>
  <body>
    <h2>Recent Events</h2>
    {% if recent|length > 0 %}
    {% for event in recent %}
    <div>
      <p>
	{{ event.time }}
	{{ event.message }}{% if event.command %}:
	<code>{{ event.command }}</code>
	{% endif %}
      </p>
      {% if event.log %}
      <div class="log">
	<pre>{{ event.log }}</pre>
      </div>
      {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <p>There are no recent events.</p>
    {% endif %}
  </body>
</html>
