{% extends "layout.html" %}
{% block title %}Batch User Resources{% endblock %}
{% block content %}

<h1>Users</h1>
<table class="data-table" id="user_resources">
    <thead>
    <tr>
        <th>Name</th>
        <th>Ready Jobs</th>
        <th>Ready Cores (mCPU)</th>
        <th>Running Jobs</th>
        <th>Running Cores (mCPU)</th>
    </tr>
    </thead>
    <tbody>
    {% for user in user_resources %}
    <tr>
        <td>{{ user['user'] }}</td>
        <td class="numeric-cell">{{ user['n_ready_jobs'] }}</td>
        <td class="numeric-cell">{{ user['ready_cores_mcpu'] }}</td>
        <td class="numeric-cell">{{ user['n_running_jobs'] }}</td>
        <td class="numeric-cell">{{ user['running_cores_mcpu'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
