#file_list {
    padding-left: 0;
}
#autoComplete1, #autoComplete2 {
    position:relative;
    padding:0 2rem 0 3.5rem;
    height:2.1rem;
    width:100%;
    font-size:1.2rem;
    outline:0;
    border-radius:3px;
    border:.05rem solid;
    color:rgba(0,0,0,1);
    background-repeat:no-repeat;
    background-size:1.2rem;
    background-origin:border-box;
    background-position:center;
    transition:all .4s ease;
    -webkit-transition:all -webkit-transform .4s ease;
    text-overflow:ellipsis;
    border-width:1px;
}
#autoComplete1::placeholder, #autoComplete2::placeholder{
    color:rgba(140,140,140,0.5);
    transition:all .3s ease;
    -webkit-transition:all -webkit-transform .3s ease;
}
#autoComplete1:hover, #autoComplete2:hover {
    padding:0 2rem 0 3.5rem;
    color:rgba(192,192,192,1);
    height:3rem;
    background-size:1.7rem;
    background-position:left 1.05rem top .7rem;transition:all .3s ease;
    -webkit-transition:all -webkit-transform .3s ease;
    border-width:1px;
}
#autoComplete1:hover::placeholder, #autoComplete2:hover::placeholder {
    color:rgba(140,140,140,0.3);
    transition:all .3s ease;
    -webkit-transition:all -webkit-transform .3s ease;
}
#autoComplete1:focus::placeholder, #autoComplete2:focus::placeholder {
    padding:.1rem .6rem;
    font-size:1rem;
    color:rgba(140,140,140,0.3);
    transition:all .3s ease;
    -webkit-transition:all -webkit-transform .3s ease;
}
#autoComplete1::selection, #autoComplete2::selection {
    color:transparent;
}
#autoComplete1:focus::selection, #autoComplete2:focus::selection {
    color:#fff;
    background-color:rgba(192,192,192,1);
}
#autoComplete1:focus, #autoComplete2:focus {
    padding:0 2rem 0 3.5rem;
    color:rgba(192,192,192,1);
    height:3rem;
    border:.05rem solid #000000;
    background-size:1.5rem;
    background-position:left 1.05rem top .8rem;
    box-shadow:rgba(192,192,192,0.1) 0 0 20px 5px;
    border-width:1px
}
#autoComplete_list {
    position:fixed;
    z-index:1000;
    padding:0;
    left:0;
    right:0;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
    width:18rem;
    transition:all .1s ease-in-out;
    -webkit-transition:all;
    -webkit-transform .1s ease;
}
.autoComplete_result {
    margin:.15rem auto;
    padding:.6rem;
    border:.05rem solid #e3e3e3;
    list-style:none;
    text-align:left;
    font-size:1.1rem;
    color:#7b7b7b;
    transition:all .1s ease-in-out;
    background-color:#fff;
}
.autoComplete_result::selection {
    color: #fff;
    background-color: #fff;
}
.autoComplete_result:hover, .autoComplete_result:focus {
    border-left: 2psx solid rgba(192,192,192,1);
    border-right:2px solid rgba(192,192,192,1);
    background-color:rgba(192,192,192,0.3);
}
.autoComplete_result:hover {
    cursor:pointer;
}
.autoComplete_result:focus {
    outline:0;
}
.autoComplete_highlighted {
    opacity:1;
    color:rgba(140,140,140,1);
    font-weight:700;
}
.autoComplete_highlighted::selection {
    color: #fff;
    background-color: #fff;
}
.autoComplete_selected {
    cursor:pointer;
    background-color:rgba(192,192,192,0.3);
    border-left:2px solid rgba(192,192,192,1);
    border-right:2px solid rgba(192,192,192,1);
    border-top:2px solid transparent;
    border-bottom:2px solid transparent;
}
.autoComplete_result:first-child, .autoComplete_result:last-child {
    border-radius: 4px;
}
.autoComplete_result:only-child {
    border-radius:1rem;
}
