.docs-all {
  margin-left: 5em;
  margin-bottom: 10em;
}
.docs-content {
  width: 40em;
  margin-right: auto;
}
.docs-content pre {
  border: 1px #aaa solid;
  padding: 4px;
  background-color: #eee;
}
.docs-content img {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px #aaa solid;
}
