@import '../variables/colors.scss';
@import '../variables/margins.scss';
#theme-site {
  #login {
    flex-direction: column;
    h3 {
      margin-bottom: $margin;
    }
    #login-choices {
      display: flex; // TODO: Figure out better way to align the h3 with its children
      margin-left: 3px;
      justify-content: space-between;
      align-items: center;
      form {
        display: flex;
        flex-grow: 1;
        input[type='password'] {
          width: 100%;
          width: 215px;
        }
      }
      #separator {
        margin: 0 $margin;
      }
    }
  }
}
