@import "../variables/colors.scss";
@import "../variables/margins.scss";
#theme-site {
  #login {
    flex-direction: column;
    h3 {
      margin-bottom: $margin;
    }
    #login-choices {
      display: flex;
      margin-left: 3px;
      justify-content: space-between;
      align-items: center;
      form {
        display: flex;
        flex-grow: 1;
        input[type="password"] {
          width: 100%;
          width: 215px;
        }
<<<<<<< HEAD
        #separator {
          margin: auto $margin;
        }
=======
      }
      #separator {
        margin: 0 $margin;
>>>>>>> 3f82dc9e64d95e5e25d1494c4f722c24c496ff6a
      }
    }
  }
}
