@import '../variables/margins.scss';
#theme-site {
  #notebook {
    .nb {
      flex-direction: row;
      display: flex;
      align-items: center;
      margin-bottom: $margin;
      justify-content: space-around;
      min-width: 320px;
    }
  }
}
