@import "../variables/margins.scss";
@import "../variables/colors.scss";
#theme-site {
  #notebook {
    display: flex;
    flex-direction: column;

    .nb {
      flex-direction: row;
      display: flex;
      align-items: center;
      margin-bottom: $margin;
      justify-content: space-around;
      min-width: 320px;

      & + .nb {
        margin-top: $margin * 2;
      }
    }

    .reachable-icon,
    .unreachable-icon {
      margin-right: $margin;
    }

    .reachable-icon {
      color: $blue;
    }

    .unreachable-icon {
      color: $light-gray;
    }

    .spinner {
      margin-right: $margin;
    }

    .nb-state-container {
      flex-direction: column;
      display: flex;
      width: 212px;
    }

    .nb-close {
      margin-left: $margin * 4;
    }
  }
}
