@import "../variables/margins.scss";

#profile-header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 2 * $margin;
  img {
    margin-right: $margin;
    height: 48px;
  }
}
