<html lang="en">
  <head>
    <title>Batch {{ batch_id }}, Job {{ job_id }} Log</title>
  </head>
  <body>
    <h1>Batch {{ batch_id }}, Job {{ job_id }} Log</h1>
    
    {% if 'setup' in job_log %}
    <h2>Setup</h2>
    <pre>{{ job_log['setup'] }}</pre>
    {% endif %}
    
    {% if 'main' in job_log %}
    <h2>Main</h2>
    <pre>{{ job_log['main'] }}</pre>
    {% endif %}
    
    {% if 'cleanup' in job_log %}
    <h2>Cleanup</h2>
    <pre>{{ job_log['cleanup'] }}</pre>
    {% endif %}
  </body>
</html>
