apiVersion: apps/v1
kind: Deployment
metadata:
  name: website
  labels:
    app: website
    hail.is/sha: "{{ code.sha }}"
spec:
  selector:
    matchLabels:
      app: website
  replicas: 3
  template:
    metadata:
      labels:
        app: website
        hail.is/sha: "{{ code.sha }}"
        grafanak8sapp: "true"
    spec:
{% if deploy %}
      priorityClassName: production
{% endif %}
      nodeSelector:
        preemptible: "true"
      tolerations:
       - key: preemptible
         value: "true"
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: "app"
                    operator: In
                    values:
                    - website
              topologyKey: "kubernetes.io/hostname"
      containers:
       - name: website
         image: "{{ website_image.image }}"
         resources:
           requests:
             cpu: "20m"
             memory: "20M"
           limits:
             cpu: "1"
             memory: "1G"
         ports:
          - containerPort: 5000
         env:
          - name: HAIL_DOMAIN
            value: {{ global.domain }}
          - name: HAIL_DEFAULT_NAMESPACE
            value: {{ default_ns.name }}
         volumeMounts:
          - name: deploy-config
            mountPath: /deploy-config
            readOnly: true
          - name: session-secret-key
            mountPath: /session-secret-key
            readOnly: true
          - name: ssl-config-website
            mountPath: /ssl-config
            readOnly: true
         livenessProbe:
           tcpSocket:
             port: 5000
           initialDelaySeconds: 5
           periodSeconds: 5
         readinessProbe:
           tcpSocket:
             port: 5000
           initialDelaySeconds: 5
           periodSeconds: 5
      volumes:
       - name: deploy-config
         secret:
           secretName: deploy-config
       - name: session-secret-key
         secret:
           secretName: session-secret-key
       - name: ssl-config-website
         secret:
           optional: false
           secretName: ssl-config-website
---
apiVersion: autoscaling/v2beta1
kind: HorizontalPodAutoscaler
metadata:
  name: website
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: website
  minReplicas: 3
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      targetAverageUtilization: 80
---
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: website
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: website
