{% extends "layout.html" %}
{% block title %}Scorecard{% endblock %}
{% block content %}
        <h1>Scorecard!</h1>

        <table>
            <thead>
            <tr>
                <th align="left">user</th>
                <th align="left">needs review</th>
                <th align="left">changes requested</th>
                <th align="left">issues</th>
            </tr>
            </thead>
            <tbody>
            {% for user, d in user_data.items() %}
            <tr>
                <td align="left"><a href="/users/{{ user }}">{{ user }}</a></td>
                <td align="left">
                    {% for pr in d['NEEDS_REVIEW'] %}
                    <a href="{{ pr.html_url }}">{{ pr.id }}</a>
                    {% endfor %}
                </td>
                <td align="left">
                    {% for pr in d['CHANGES_REQUESTED'] %}
                    <a href="{{ pr.html_url }}">{{ pr.id }}</a>
                    {% endfor %}
                </td>
                <td align="left">
                    {% for issue in d['ISSUES'] %}
                    <a href="{{ issue.html_url }}">{{ issue.id }}</a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <p>Unassigned:
            {% for pr in unassigned %}
            <a href="{{ pr.html_url }}">{{ pr.id }}</a>
            {% endfor %}
        </p>

    {% if urgent_issues %}
        <h2 id="urgent">&#x1F525;&#x1F525;&#x1F525;URGENT&#x1F525;&#x1F525;&#x1F525;</h2>

        <table>
            <thead>
                <tr>
                    <th align="left">assignee</th>
                    <th align="left">time outstanding</th>
                    <th align="left">issue</th>
                </tr>
            </thead>
            <tbody>
            {% for issue in urgent_issues %}
                <tr>
                    <td align="left"><a href="/users/{{ issue['USER'] }}">{{ issue['USER'] }}</a></td>
                    <td align="left">{{ issue['AGE'] }}</td>
                    <td align="left">
                        <a href="{{ issue['ISSUE'].html_url }}">{{ issue['ISSUE'].title }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

      <table>
	<thead>
          <th align="left">component</th>
          <th align="left">reviewers</th>
	</thead>
	<tbody>
          {% for component, user in component_user.items() %}
	  <tr>
            <td align="left">{{ component }}</td>
            <td align="left"><a href="/users/{{ user }}">{{ user }}</a></td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    
      <p><small>last updated {{ updated }}</small></p>
{% endblock %}
