{% extends "layout.html" %}
{% block title %}Scorecard{% endblock %}
{% block content %}
        <h1>Scorecard!</h1>

        <table class="data-table">
            <thead>
            <tr>
                <th>user</th>
                <th>needs review</th>
                <th>changes requested</th>
                <th>issues</th>
            </tr>
            </thead>
            <tbody>
            {% for user, d in user_data.items() %}
            <tr>
                <td><a href="{{ base_path }}/users/{{ user }}">{{ user }}</a></td>
                <td>
                    {% for pr in d['NEEDS_REVIEW'] %}
                    <a href="{{ pr.html_url }}">#{{ pr.id }}</a>
                    {% endfor %}
                </td>
                <td>
                    {% for pr in d['CHANGES_REQUESTED'] %}
                    <a href="{{ pr.html_url }}">#{{ pr.id }}</a>
                    {% endfor %}
                </td>
                <td>
                    {% for issue in d['ISSUES'] %}
                    <a href="{{ issue.html_url }}">#{{ issue.id }}</a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <p>Unassigned:
            {% for pr in unassigned %}
            <a href="{{ pr.html_url }}">#{{ pr.id }}</a>
            {% endfor %}
        </p>

    {% if urgent_issues %}
        <h2 id="urgent">&#x1F525;&#x1F525;&#x1F525;URGENT&#x1F525;&#x1F525;&#x1F525;</h2>

        <table>
            <thead>
                <tr>
                    <th>assignee</th>
                    <th>time outstanding</th>
                    <th>issue</th>
                </tr>
            </thead>
            <tbody>
            {% for issue in urgent_issues %}
                <tr>
                    <td><a href="{{ base_path }}/users/{{ issue['USER'] }}">{{ issue['USER'] }}</a></td>
                    <td>{{ issue['AGE'] }}</td>
                    <td>
                        <a href="{{ issue['ISSUE'].html_url }}">{{ issue['ISSUE'].title }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <table class="data-table">
      <thead>
        <th>component</th>
        <th>reviewer</th>
      </thead>
      <tbody>
        {% for team, member in team_member.items() %}
        <tr>
          <td>{{ team }}</td>
          <td><a href="{{ base_path }}/users/{{ member }}">{{ member }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <p><small>last updated {{ updated }}</small></p>
{% endblock %}
