{% extends "layout.html" %}
{% block title %}Scorecard {{ user }}{% endblock %}
{% block head %}
<style>
  #avatar {
      float: left;
      width: 44px;
      height: 44px;
      margin: 0 8px 0 0;
      border-radius: 3px;
  }
  #user-cols {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
  }
</style>
{% endblock %}
{% block content %}
  <div id="user-cols">
    <div>
        <p><img id="avatar" src="https://github.com/{{ user }}.png?s=88"></p>
    </div>

    <div>
        <h1>Welcome to Scorecard, {{ user }}!</h1>

        <h2>Needs Review</h2>
        {% if user_data['NEEDS_REVIEW'] %}
        <table class="data-table">
            <tbody>
            {% for pr in user_data['NEEDS_REVIEW'] %}
            <tr>
              <td><a href="https://github.com/{{ pr.user }}">{{ pr.user }}</a></td>
              <td><a href="{{ pr.html_url }}">{{ pr.title }} <span class="gh-number">#{{ pr.id }}</a></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No reviews needed.</p>
        {% endif %}

        <h2>Changes Requested</h2>
        {% if user_data['CHANGES_REQUESTED'] %}
        <table class="data-table">
            <tbody>
            {% for pr in user_data['CHANGES_REQUESTED'] %}
            <tr>
              <td><a href="{{ pr.html_url }}">{{ pr.title }} <span class="gh-number">#{{ pr.id }}</span></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No changes requested.</p>
        {% endif %}

        <h2>Failing tests</h2>
        {% if user_data['FAILING'] %}
        <table class="data-table">
            <tbody>
            {% for pr in user_data['FAILING'] %}
            <tr>
              <td><a href="{{ pr.html_url }}">{{ pr.title }} <span class="gh-number">#{{ pr.id }}</span></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No failing builds.</p>
        {% endif %}


        <h2>Issues</h2>
        {% if user_data['ISSUES'] %}
        <table class="data-table">
            <tbody>
            {% for issue in user_data['ISSUES'] %}
            <tr>
              <td><a href="{{ issue.html_url }}">{{ issue.title }} <span class="gh-number">#{{ issue.id }}</span></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No issues.</p>
        {% endif %}

        <p>
            <small>last updated {{ updated }}</small>
        </p>
      </div>
{% endblock %}
