div.wy-nav-content{
	max-width: 100%;
	padding-left: 5%;
	padding-right: 10%;
	margin-left: 0%;
	margin-right: 0%;
}

#panel-annotations{
	width: 49.5%;
	float: left;
	margin-right: 0.5%;
}

#panel-annotations .panel-body{
	max-height: 500px;
	overflow-y: scroll;
	max-width: 100%;
	overflow-x: scroll;
}

#panel-query{
	width: 49.5%;
	float: left;
	margin-left: 0.5%;
}

#panel-query .panel-body{
	max-height: 500px;
	overflow-y: scroll;
	max-width: 100%;
	overflow-x: scroll;
}

#panel-query .panel-body pre{
	margin-top: 0%;
	margin-bottom: 0%;
}

span#template-query-before>pre, span#template-query-after>pre{
	color: #bdbdbd;
	font-size: 14px;
}

span#template-query-before>pre{
	padding-top: 1%;
}

span#template-query-after>pre{
	padding-bottom: 1%;
}

span.hail-code.query>pre{
	color: #404040;
	font-size: 14px;
	font-weight: bold;
}

.panel-group{
	margin-bottom: 20px;
}

.panel{
	background-color:#fff;
	border:1px solid transparent;
	border-color: #337ab7;
	border-radius:4px;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
	box-shadow:0 1px 1px rgba(0,0,0,.05);
	margin-top: 10px;
	margin-bottom: 10px;
}

.panel-heading{
	border: 1px solid;
	border-bottom:0;
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
	padding-top: 7px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-heading .pull-left{
	padding-top: 5px;
}

.panel-heading span{
	color: #fff!important;
}

.panel-heading .btn{
	background-color: #fff;
	color: #555;
	padding: 4px 10px;
}

.panel-heading #annotations-clear{
	padding-left: 15.5px;
	padding-right: 15.5px;
}

.panel-body{
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	border-top:1px solid #ddd;
	border-top-color: #ddd;
	border-bottom-color: #ddd;
}

.panel-body>.panel-text{
	padding-top: 0%;
	padding-bottom: 0%;
}

#documentation>#panel-docs>.panel .collapse:not(.in){
	display:none;
}

#documentation>#panel-docs>.panel .collapsing{
	position:relative;
	height:0;
	overflow:hidden;
	-webkit-transition-timing-function:ease;
	-o-transition-timing-function:ease;
	transition-timing-function:ease;
	-webkit-transition-duration:.35s;
	-o-transition-duration:.35s;
	transition-duration:.35s;
	-webkit-transition-property:height,visibility;
	-o-transition-property:height,visibility;
	transition-property:height,visibility
}

table.docutils{
	width: 100%;
}

table.docutils thead{
	background-color: #f5f5f5;
}

table th.col1{
	width: 25%;
}

table th.col1.exomes, table th.col1.genomes{
	width: 35%;
}

table th.col2{
	width: 10%;
}

code{
	background-color: transparent;
	font-weight: bold;
	color:#404040;
}

.text-expand:hover{
	text-decoration: underline;
}

.text-link:hover{
	text-decoration: underline;
}

.text-link{
	color: #2980B9;
}

.btn-group {
	position: relative;
	vertical-align: middle;
}

.btn-default {
	border-color: #ccc;
}

.btn-default:hover {
	border-color: #adadad;
}

.btn-group>.btn:first-child {
	margin-left: 0;
}

.btn-group>.btn {
	position: relative;
	float: left;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0px 1px 2px -1px rgba(255,255,255,0.5) inset, 0px -1px 0px 0px rgba(0,0,0,0.1) inset;
}

button {
	overflow: visible;
	margin: 0;
	font: inherit;
	text-transform: none;
	-webkit-appearance: button;
}

.pull-left {
	float: left!important;
}

.btn .caret {
	margin-left: 0;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.form-control:hover {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75), 0 0 8px rgba(102, 175, 233, 0.6);
}

.table span.hail-code {
	color: #404040;
	font-size: 75%;
	font-weight: bold;
}

.panel-body.annotations{
	padding: 0px;
}

.treeview .list-group-item{
	list-style: none!important;
	margin-left: 0px!important;
	padding: 7.5px 5px;
	border-top: 1px solid #ddd;
}

.treeview .list-group-item:not(.node-selected){
	color: #555;
}

.treeview .list-group{
	margin-bottom: 0px!important;
}

.glyphicon {
	top: 1px;
	font-family: 'Glyphicons Halflings'!important;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.treeview span.icon{
	margin-left: 2%;
	margin-right: 0%;
}

.treeview .glyphicon-plus:before{
	content: "\2b";
}

.treeview .glyphicon-minus:before{
	content: "\2212";
}

#panel-docs .glyphicon-plus:before{
	content: "\2b";
	margin-left: 0%;
}

#panel-docs .glyphicon-minus:before{
	content: "\2212";
	margin-left: 0%;
}

div.panel.level0{
	margin-left: 0%;
	margin-right: 0%;
}

div.panel.level1{
	margin-left: 2%;
	margin-right: 2%;
}

div.panel.level2{
	margin-left: 4%;
	margin-right: 4%;
}

div.panel.level3{
	margin-left: 6%;
	margin-right: 6%;
}

#panel-docs table{
	width:100%;
	max-width:100%;
	table-layout: fixed;
	margin-top: 1%;
}

#panel-docs table th.col0{
	width: 2%;
}

#panel-docs table th.col1{
	width: 28%;
}

#panel-docs table th.col2{
	width: 12%;
}

#panel-docs table th.col3{
	width: 58%;
}

#panel-docs table .glyphicon-plus::before{
	margin-left: 0px;
}

#panel-docs table td.col0{
	padding-left: 4px;
}

#panel-docs table td.col1{
	overflow: hidden;
	text-overflow: ellipsis;
}

#panel-docs table td.col1:hover{
	overflow: visible;
}

#panel-docs table td.col1:hover span{
	background: #fff;
	position: relative;
	padding: 4px;
}

#panel-docs table td.col2{
	overflow: hidden;
	text-overflow: ellipsis;
}

#panel-docs table td.col2:hover{
	overflow: visible;
}

#panel-docs table td.col2:hover span{
	background: #fff;
	position: relative;
	padding: 4px;
}

#panel-docs table .sub-table{
	padding-left: 5%;
	width: 50%;
	border-top: hidden;
	margin-top: -0.5%;
}

#panel-docs table .sub-table tbody tr:last-child{
	border-bottom: hidden;
}

#panel-docs table .sub-table td.sub-col0{
	width: 75%;
}

#panel-docs table .sub-table td.sub-col1{
	width: 25%;
}

#panel-docs table .sub-table thead th{
	font-size: 90%;
}

#panel-docs table th, .table td{
	text-align: left;
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: middle;
	border-top: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
}

#panel-docs table>thead:first-child>tr:first-child>td,table>thead:first-child>tr:first-child>th{
	border-top: 0;
}

#panel-docs table tbody tr:hover {
	background-color:#ddd!important;
}

.panel-text{
	padding-bottom: 20px;
}

.panel-text p{
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	margin-bottom: 0px;
}

#annotation-database a:link, #annotation-database a:visited{
	color: #2980B9;
}

#annotation-database a:hover{
	text-decoration: underline;
}
