name: prod-deploy
on:
  push:
    branches:
      - main
jobs:
  invoke-prod-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: deploy
        run: |
          DEPLOY_BATCH_URL=$(curl --fail --silent --show-error -X POST \
              -H "Authorization: Bearer ${{ secrets.CI_TOKEN }}" \
              -H "Content-Type:application/json" \
              -d '{"steps": ["deploy_auth", "deploy_batch", "deploy_ci", "deploy_memory", "deploy_notebook", "upload_query_jar", "deploy"], "sha": "${{ github.sha }}"}' \
              https://ci.hail.populationgenomics.org.au/api/v1alpha/prod_deploy)
          echo DEPLOY_BATCH_URL=$DEPLOY_BATCH_URL >> $GITHUB_ENV

      - name: post to Slack
        run: |
          curl --fail --silent --show-error -X POST \
              -H "Content-type: application/json" \
              -d "{\"text\": \"Deploying Hail Batch: $DEPLOY_BATCH_URL\"}" \
              ${{ secrets.SLACK_WEBHOOK }}
